[2015-02-11 01:39] afollestad opened #1 "Extensible plugins framework for cloud services (e.g. FTP, SMB, Drive, Dropbox, One Drive)"

[2015-02-11 01:39] afollestad opened #2 "Dual pane mode"

[2015-02-11 01:39] afollestad opened #3 "Remote connection pins should go right under root/storage shortcuts"

[2015-02-11 01:40] afollestad opened #4 "Remember last directory and crumb history"

[2015-02-11 01:40] afollestad opened #5 "Fix root directory listing speed, and other root functions"
Listing root files is very, very slow compared to apps like Solid Explorer Alpha.

Also, a user was unable to move a file to system/media with root access. Other users report not being able to edit files such as build.prop. Other root functions, like permission modification, should be verified.

Basically, the way root directories are read needs to be changed. And it needs to be verified that root

[2015-02-11 01:41] afollestad opened #6 "Initial SFTP path field in connection dialog"

[2015-02-11 01:42] afollestad opened #7 "Archive viewer, with ACTION_VIEW filter"
An archive viewer that can preview archive files before they are extracted. It should also receive the ACTION_VIEW intent for zip mimes so that other apps can open archives via Cabinet.

Will also support RAR and TAR.GZ archives.

[2015-02-11 01:42] afollestad opened #8 "Ability to edit pinned shortcuts (rename)"

[2015-02-11 01:42] afollestad opened #9 "Bad encoding for some text files"
E.g. text encoding with what Spanish uses (must not be UTF-8?)

[2015-02-11 01:42] afollestad opened #10 "SD card support"

[2015-02-11 01:44] afollestad opened #11 "Wrong CAB theme in dialogs on pre-Lollipop"
On KitKat:

![1](https://cloud.githubusercontent.com/assets/1820165/6140428/35a08faa-b15d-11e4-977b-7fb97bcc9f0a.png)

On Lollipop:

![2](https://cloud.githubusercontent.com/assets/1820165/6140431/384353e6-b15d-11e4-84c6-b0692d19174c.png)

[2015-02-11 01:45] afollestad opened #12 "SFTP key-based authentication"

[2015-02-11 01:45] afollestad opened #13 "Homescreen shortcuts for folders"

[2015-02-11 20:12] HeinrichReimer opened #14 "Vector file and folder icons"
On my Nexus 7 in grid mode the folder icons look blurry.
Please add high res drawables and/or use androids new [`VectorDrawable`][1] for 5.0+

[1]: https://developer.android.com/reference/android/graphics/drawable/VectorDrawable.html

[2015-02-11 20:16] HeinrichReimer commented on #14
I attached some screenshots:
![screenshot_2015-02-11-21-11-14](https://cloud.githubusercontent.com/assets/5065698/6155372/13b53af4-b233-11e4-8979-cb2cb2ef8999.png)
![screenshot_2015-02-11-21-11-10](https://cloud.githubusercontent.com/assets/5065698/6155373/13bc2ba2-b233-11e4-92c1-a834bd4843e5.png)

[2015-02-11 20:21] afollestad commented on #3
Done. It also sorts user pins alphabetically.

[2015-02-11 20:21] #3 closed

[2015-02-11 20:35] plusCubed commented on #9
[ICU4J](http://site.icu-project.org/) might be useful. It has a character set detector (well, guesser).

[2015-02-11 20:36] plusCubed opened #15 "Use Lollipop features for FAB"
- Shadow using elevation (8dp to 14dp on touch)
- Ripple

[2015-02-11 20:38] afollestad commented on #15
Awesome, looking forward to this

[2015-02-11 20:38] afollestad commented on #9
Oh yeah, good idea

[2015-02-11 20:50] afollestad commented on #8
Done

[2015-02-11 20:50] #8 closed

[2015-02-11 20:59] afollestad commented on #14
Unfortunately vector drawables cannot be used for this, these folder icons are taken from the Android Asset studio, vectors require you to draw shapes with math (which is what makes them scalable without losing quality). But I'll try to get larger icons in there to see if that helps.

[2015-02-11 21:00] afollestad opened #16 "Pin deletion removes the wrong index"
As a result of the recent changes for sorting and stuff.

[2015-02-11 21:05] afollestad commented on #16
Fixed

[2015-02-11 21:05] #16 closed

[2015-02-11 21:41] CalH00 opened #17 "Replace folder name with 'Cabinet' at the top of the action bar."
The title says it all. Now that you have added an extended action bar with those path... arrow... thingies... Whatever they're called again, I don't think it's necessary to still have the name of the current folder next to the hamburger icon.

[2015-02-11 21:48] CalH00 opened #18 "Action bar buttons ripple size"
I just noticed that the overflow button in the action bar has a smaller ripple circle than the other buttons, especially the hamburger icon. Not that big of an issue, but it looks kinda odd.

[2015-02-11 22:40] afollestad commented on #18
I can't really change that unfortunately. Android renders the toolbar and it's actions for you.

[2015-02-11 22:40] #18 closed

[2015-02-11 22:41] afollestad commented on #17
Good idea. When the bread crumbs are enabled I'll just show the app name.

[2015-02-11 22:43] HeinrichReimer commented on #14
If i find some time I can convert the SVGs from polymer source to `VectorDrawables`

[2015-02-11 22:46] plusCubed commented on #14
@HeinrichReimer @afollestad Found a way, I'll be implementing this.

[2015-02-11 22:50] afollestad commented on #14
@plusCubed awesome, sounds good.

Issue https://github.com/afollestad/cabinet-issue-tracker/issues/5 is the next highest priority issue before an update can go out.

[2015-02-11 22:51] afollestad commented on #17
Done

[2015-02-11 22:51] #17 closed

[2015-02-11 23:02] plusCubed commented on #14
@HeinrichReimer Done.
@afollestad OK, I'll take a look at that.

[2015-02-11 23:03] afollestad commented on #14
@plusCubed wow that was fast.

Awesome, thanks.

[2015-02-12 01:07] afollestad opened #19 "Suddenly the drawer toggle stopped getting attached?"

[2015-02-12 01:10] afollestad opened #20 "Using high grid sizes causes issues on screens that are too small"

[2015-02-12 01:39] CalH00 commented on #18
Okay :-/. Thanks anyways.

[2015-02-12 01:40] CalH00 commented on #17
Cool :-).

[2015-02-12 02:33] afollestad commented on #19
Fixed, happened after I removed the welcome screen and the check if it was already shown was no longer valid

[2015-02-12 02:33] #19 closed

[2015-02-12 04:47] afollestad commented on #5
@plusCubed it seems one of the main causes is the way ls output is parsed, but as far as I know there's no other way for us to list files with root permissions.

[2015-02-12 04:53] plusCubed commented on #5
@afollestad Hmmm... what instead of `ls` with `-l` , we lazy load the permissions and details when we open the properties window (get those details later)? Perhaps that'll help with speed?

[2015-02-12 04:54] afollestad commented on #5
@plusCubed well, the `-l` parameter also gives us other information, e.g. the length of a file, if no length is specified than it's a directory (Linux treats directories as files with no specific length).

[2015-02-12 04:59] plusCubed commented on #5
@afollestad We can get that information by making a java File object using the path. I think I read somewhere that we can always create a File with the entire path, regardless of folder permissions, so /data/app should work. Let me check.

[2015-02-12 05:00] afollestad commented on #5
@plusCubed oh okay, so they just don't show up with File.listFiles(). Hopefully that's the case.

[2015-02-12 05:02] afollestad commented on #6
Implemented

[2015-02-12 05:02] #6 closed

[2015-02-12 13:20] HeinrichReimer commented on #20
Maybe we should limit the maximum column count to somewhat like this:

    Resources resources = context.getResources();
    DisplayMetrics metrics = resources.getDisplayMetrics();

    float widthDp = metrics.widthPixels / (metrics.densityDpi / 160f);

    int maxColums = (int) Math.floor(widthDp / 144);

and then disabling grid sizes above that value. 144 can be replaced by any other minimum col

[2015-02-12 14:04] rddck opened #21 "Text editor doesn't include changes with saved instance state"
using the cabinet built in text editor to modify text files and i notice that it reverts to the last saved state each time the screen rotates :s

as a side note, some options for the text editor such as font size seting would be a welcome addition. Adding an integrated image viewer would be great too seeing as the gallery app is dropped since lollipop.

nexus 7 slimkat 9 (android 4.4.4) using f-dr

[2015-02-12 15:18] afollestad commented on #20
@HeinrichReimer yeah that's a good idea

[2015-02-12 15:37] afollestad commented on #21
Fixed

[2015-02-12 15:37] #21 closed

[2015-02-12 15:41] afollestad commented on #20
It's actually easier to just use dimension resources in this case

[2015-02-12 15:45] afollestad commented on #20
Done, grid size isn't limited on tablets, but it's limited to 3 on phones. May need to be adjusted for other screen sizes later, but I'm using a Nexus 6 which is obviously big.

[2015-02-12 15:45] #20 closed

[2015-02-12 16:44] afollestad commented on #4
Done

[2015-02-12 16:44] #4 closed

[2015-02-12 17:27] afollestad commented on #9
This is now implemented (ICU4J), but it needs to be tested

[2015-02-12 17:31] afollestad commented on #5
Huh, looks like the File class does work with root files. So we can use plain "ls" for listing.

I'm gonna try it now.

[2015-02-12 18:05] CalH00 opened #22 "Remember Scroll Position"
When entering a folder and going back, the view is at the top again instead of where it was before.
Hope you understand what I mean, my English kinda sucks at times.

[2015-02-12 18:06] afollestad commented on #22
Oh no I understand what you mean. I thought I had fixed that :o I'll have it fixed

[2015-02-12 18:07] CalH00 commented on #22
Great!

[2015-02-12 18:12] afollestad commented on #5
It's so much faster! I was able to remove the RootFile class altogether too

[2015-02-12 18:12] #5 closed

[2015-02-12 18:37] afollestad opened #23 "Back stack does not use Fragment back stack, it uses bread crumb stack, so instance states are not saved"
Thus scroll position is not saved, etc.

Fragments are manually re-added everytime the user goes back in the current crumb stack.

[2015-02-12 18:38] afollestad commented on #22
Replacing with this: https://github.com/afollestad/cabinet-issue-tracker/issues/23

[2015-02-12 18:38] #22 closed

[2015-02-12 18:41] afollestad commented on #23
@plusCubed do you have any good ideas on how we could manage the back stack?

I removed the FragmentTransaction back stack and handle it manually from `BreadCrumbLayout`, because it needs to go back to the parent directory rather than whatever directory they were previously looking at. There must be some way to manually insert and remove fragments from the back stack, while maintaining the ability

[2015-02-12 19:05] afollestad commented on #23
I think I have an idea actually.

The bread crumb layout basically recreates the entire back stack if the directory being navigated to is not before or after the current path in the crumbs. If the directory being navigated to is in the crumb layout already, it's just made active (highlighted white).

The fragment back stack could just be cleared and recreated for the first case. In the case of jus

[2015-02-12 19:09] plusCubed commented on #5
Hmmm... I'm thinking we can also further improve speed by resorting to using `ls` only when it gives an `SecurityException` in `File.listFiles()`. Is that viable?

[2015-02-12 19:09] afollestad commented on #5
I'm not sure that exception is thrown, it seems like it just returns nothing. Maybe I just didn't notice any exceptions. If that's the case, that would be great.

[2015-02-12 19:14] plusCubed commented on #5
@afollestad If it isn't thrown we can resort to `ls` to double check if it returns nothing then. I'm in class so I can't test it right now.

[2015-02-12 20:23] plusCubed commented on #5
Working on it now

[2015-02-12 20:24] afollestad commented on #5
Awesome.

Once this is done and https://github.com/afollestad/cabinet-issue-tracker/issues/23 is done, and update will go out. I'm almost done with 23.

[2015-02-12 20:51] afollestad commented on #23
@plusCubed this is done now. Let me know if you find any issues with this before you finish the directory listing thing. It seems to work perfectly for me.

[2015-02-12 20:51] #23 closed

[2015-02-12 20:52] afollestad commented on #23
Actually I found one small issue when selecting nav drawer items. Hold on. @plusCubed

[2015-02-12 20:58] afollestad opened #24 "New back stack system causing issues with root listing"
"www: No such file or directory" shows up as a list entry. Looks like the "ls" command returned an error, but it was handled correctly. The reasoning behind an invalid path being used needs to be investigated.

[2015-02-12 21:00] afollestad commented on #24
Turned out to be a different issue.

[2015-02-12 21:00] #24 closed

[2015-02-12 21:00] afollestad opened #25 "Saving last open folder for remote folders doesn't work"
Remote didn't get saved so it assumed all saved folders were local folders.

[2015-02-12 21:03] afollestad commented on #25
Found the reason: the app set the last opened folder when the server connection was open. When the app disconnects from the server, it goes back to the initial directory (which is the last opened folder when the setting is enabled).

[2015-02-12 21:16] Juanscv opened #26 "Can't view root"
After granting root access to Cabinet, all i get is this:

![](https://s3.amazonaws.com/pushbullet-uploads/udcnC-bJSrCvjM0xS8fb85B8MBbAAzduYhxkxV/Screenshot_2015-02-12-15-54-38.png)

I'm using Hazy ROM and it also occurred to me with another ROM (Resurrection Remix, i think).

[2015-02-12 21:18] afollestad commented on #26
This is a bug from the old version.

We've been working on root functions all day. https://github.com/afollestad/cabinet-issue-tracker/issues/5

[2015-02-12 21:18] #26 closed

[2015-02-12 21:18] afollestad commented on #25
Fixed

[2015-02-12 21:18] #25 closed

[2015-02-12 21:29] Juanscv commented on #26
So there's a new version coming or a new one out already? Because i downloaded it like an hour ago.

[2015-02-12 21:31] afollestad commented on #26
It'll be coming later today. It's everything implemented yesterday and today, which makes a changelog of around 34 things. I'll post on Google+ once it's ready.

[2015-02-12 21:36] afollestad commented on #26
@Juanscv just as a future tip, if you look at "Closed" issues here, you can see what's already been reported and fixed :)

[2015-02-12 21:37] RamiDebab opened #27 "Remember last scroll position"
Suggestion : Make Cabinet remember the position of the list after performing an action(delete for example) or after accessing a folder.
Example : Imagine that i have 50 folders, i start scrolling until the 30th, i open it and then when i go back the list goes back to the number 1 so i have to scroll again, is it possible to make it remember the last folder i stopped scrolling on. it would be nice

[2015-02-12 21:38] afollestad commented on #27
Please look through closed issues before reporting new ones. https://github.com/afollestad/cabinet-issue-tracker/issues/22

[2015-02-12 21:38] #27 closed

[2015-02-12 21:49] CalH00 opened #28 "Hamburger to Back Arrow Animation when tapping 'Search'"
Does it comply to the material design guidelines if the hamburger icon turns into an arrow animatedly when you tap on the search button?
It'd certainly look nice.

[2015-02-12 22:21] afollestad opened #29 "Show free/used space somewhere"
Not sure how this would be done efficiently though, since files are constant changed and scanning the entire file system is pretty intensive Big-Oh wise.

[2015-02-12 22:40] afollestad opened #30 "Improve the look of the details dialog"
Including when permissions are displayed

[2015-02-12 22:40] #9 closed

[2015-02-12 23:01] CalH00 opened #31 "Folder Switching not working properly"
When I open a folder and go back, I can't open that exact folder again right away - the active breadcrumb changes, but the contents of the folder I switch to aren't displayed, it stays in the previous folder.
Can you reproduce this by doing that: Open a folder, tap 'Back', tap the same folder again (not the breadcrumb).
?

[2015-02-12 23:03] afollestad commented on #31
Oh yeah, good find.

I reproduced it by tapping a folder, tapping the first bread crumb, and tapping the folder again. I'll try to get another fix update out today.

[2015-02-12 23:05] CalH00 opened #32 "Ticking or unticking 'Show Current Path' doesn't immediately update the title."
When I tap the overflow button and untick / tick 'Show Current Path', the title won't immediately change from 'Cabinet' to the current folder name / vice versa.

[2015-02-12 23:07] afollestad commented on #31
Fixed

[2015-02-12 23:07] #31 closed

[2015-02-12 23:08] afollestad commented on #32
Another good find

[2015-02-12 23:08] CalH00 commented on #31
Nice :-).

[2015-02-12 23:08] CalH00 commented on #32
I hope I can figure out what that third bug was again soon enough.

[2015-02-12 23:09] afollestad commented on #32
Fixed.

And yeah let me know, I'll have to get another update out whenever you do

[2015-02-12 23:09] #32 closed

[2015-02-12 23:13] CalH00 commented on #32
I think it was just something I didn't quite understand at first and not a bug. Oops.
Gonna look through other parts of the app though and see if I can find anything.

[2015-02-12 23:14] afollestad commented on #32
Haha okay, sounds good

[2015-02-12 23:19] CalH00 commented on #32
Nope. The other bug was the one with the scroll position from earlier. Guess you gotta look into that one again.

[2015-02-12 23:25] arkon opened #33 ""Up" doesn't navigate properly"
Tapping up in the toolbar reflects going to the parent directory in the breadcrumbs, but doesn't actually show the parent directory's contents in the RecyclerView.

Tapping on the "Internal Storage" breadcrumb after tapping up also fails to do anything.

[2015-02-12 23:26] arkon opened #34 "Re-navigating to a directory fails"
If you enter a directory, go back, then try to go back to that same directory, it doesn't actually do so (but is reflected properly in the breadcrumbs).

[2015-02-12 23:26] afollestad commented on #33
Hmm, it seems to be working for me.

Tapping up from internal storage leads to "/storage/emulated" which shows "Root" > "Storage" > "Emulated" breadcrumbs.

[2015-02-12 23:27] afollestad commented on #34
That's been fixed: https://github.com/afollestad/cabinet-issue-tracker/issues/31

[2015-02-12 23:27] #34 closed

[2015-02-12 23:27] CalH00 opened #35 "Text Editor: First focus on 'Find'"
When opening a text file, the keyboard opens up, but you can't type anything in the text editor.
Rotating the phone's screen shows that the focus lies on the 'Find' textfield.

[2015-02-12 23:28] arkon commented on #34
@afollestad Really? It's happening in v1.9.2.0.1

[2015-02-12 23:30] afollestad commented on #34
Yeah, I haven't pushed an update for it yet, it was just reported but already fixed

[2015-02-12 23:31] arkon commented on #34
Aha, got it. :smiley:

[2015-02-12 23:31] CalH00 commented on #29
Maybe in the side bar, below 'Root' and 'Internal Storage'?
Yes, that's straight from Solid Explorer.

[2015-02-12 23:31] afollestad commented on #34
Just added you to the private repo if you wanna test it :)

[2015-02-12 23:32] afollestad commented on #29
Haha, yeah that could work. Definitely for a future release though.

[2015-02-12 23:32] afollestad opened #36 "Scroll position not persisted in the back stack, should be saved in crumbs"
The breadcrumbs appear to be recreated fragments that are already in their stack, which prevents saved states from being persisted.

The crumbs should hold the Y position and scroll offset. When the artificial back stack builds, it will pass them as arguments to the fragments which are used in onViewCreated.

[2015-02-12 23:33] afollestad commented on #35
Ohh wow, nice find

[2015-02-12 23:36] arkon commented on #33
I think it might actually be an off-by-one error. I just navigated 4 directories deep, and it seems to be showing things one level off (will keep investigating).

[2015-02-12 23:36] arkon commented on #33
Here's a video demonstrating what I was talking about: https://www.youtube.com/watch?v=uT-yI5CIuF0

[2015-02-12 23:38] afollestad commented on #33
Oh wow, that's very weird

[2015-02-12 23:41] arkon opened #37 "Drawer shortcuts sometimes don't work"
Example: go to Pictures, dive into some subdirectories, then try using the Pictures shortcut again.

[2015-02-12 23:43] afollestad commented on #37
Are you using 1.9.0.2? This is related to that first issue you reported (which was fixed), I believe. Same mechanism as tapping the same folder again.

[2015-02-12 23:45] afollestad commented on #35
Fixed

[2015-02-12 23:45] #35 closed

[2015-02-12 23:48] afollestad commented on #37
Yeah I believe this was related to https://github.com/afollestad/cabinet-issue-tracker/issues/31

[2015-02-12 23:48] #37 closed

[2015-02-12 23:48] afollestad opened #38 "Changing folders via the breadcrumbs don't update the nav drawer selection"

[2015-02-12 23:50] arkon commented on #37
Awks, sorry. I'm still importing the project into Android Studio (since I had to reboot into Linux to do it too).

[2015-02-12 23:50] afollestad commented on #38
Nevermind, I could only reproduce this once

[2015-02-12 23:50] #38 closed

[2015-02-12 23:50] afollestad commented on #37
It's okay, haha

[2015-02-12 23:54] arkon commented on #37
Yup, this is fixed.

[2015-02-12 23:55] arkon commented on #34
Seems like it's fixed. :+1:

[2015-02-12 23:55] afollestad commented on #37
Awesome

[2015-02-12 23:58] arkon commented on #33
The content is shown properly upon tapping up in the latest unreleased code, but using the breadcrumbs after tapping up results in some unexpected results (shows wrong directory contents).

[2015-02-13 00:13] afollestad opened #39 ""Pick something…" CAB uses wrong title color"

[2015-02-13 00:15] afollestad opened #40 "Occasionally, loading gets hung up with the progress indicator"

[2015-02-13 00:36] plusCubed opened #41 "Permissions for folders"

[2015-02-13 00:37] plusCubed opened #42 "Owner/group modification"
[`chown`](http://linux.die.net/man/1/chown)

[2015-02-13 00:42] afollestad commented on #39
Fixed

[2015-02-13 00:42] #39 closed

[2015-02-13 00:50] plusCubed opened #43 "Breadcrumbs always jumps to right"
Even when, say, pressing root.

[2015-02-13 00:51] afollestad opened #44 "Switch from UIL to Ion for image loading"
It's faster and more up to date, and also supports GIFs.

[2015-02-13 00:51] afollestad commented on #43
That's done with `addCrumb()` is invoked from `BreadCrumbLayout`.

[2015-02-13 00:52] arkon commented on #33
I _think_ it has something to do with `onCrumbSelection` in `NetworkedActivity.java` and how it pops from the fragment manager backstack.

[2015-02-13 01:06] afollestad commented on #44
Done.

This also adds GIF and video thumbnail previews automatically.

[2015-02-13 01:06] #44 closed

[2015-02-13 01:10] afollestad commented on #43
I think scrolling to the active crumb would be a good way to handle this, but there's no method for that in `HorizontalScrollView`

[2015-02-13 01:11] afollestad commented on #43
Oh wait, maybe there is: http://stackoverflow.com/a/22867159/309644

`getLeft()` or `getRight()` (based on `Utils.isRTL()`) can be used for the x coordinate when smooth scrolling. Some padding, such as 16dp, should probably be added to that scroll space too. @plusCubed

[2015-02-13 01:14] plusCubed commented on #43
@afollestad Ah right, thanks for reminding me about RTL support, completely forgot.

[2015-02-13 01:14] afollestad commented on #43
Haha no problem

[2015-02-13 02:28] afollestad commented on #43
Decided to just to it now since it's a pretty easy fix, it's in the latest commit but I gotta test it a bit more

[2015-02-13 02:30] #43 closed

[2015-02-13 02:35] afollestad opened #45 "When search is active, pressing back crashes"

[2015-02-13 04:31] afollestad commented on #36
Fixed

[2015-02-13 04:31] #36 closed

[2015-02-13 04:58] afollestad commented on #45
Fixed

[2015-02-13 04:58] #45 closed

[2015-02-13 04:58] afollestad opened #46 "Pressing bread crumbs while in search causes weird issues"

[2015-02-13 05:02] afollestad opened #47 "Wrong toolbar stats shown for search results?"

[2015-02-13 05:02] afollestad commented on #46
Solved by hiding breadcrumbs while in search page

[2015-02-13 05:02] #46 closed

[2015-02-13 05:07] afollestad commented on #47
Fixed

[2015-02-13 05:07] #47 closed

[2015-02-13 05:13] afollestad opened #48 "Bread crumbs need to start with "Internal storage" like before, if internal storage is in the path"

[2015-02-13 05:23] afollestad commented on #48
Fixed

[2015-02-13 05:23] #48 closed

[2015-02-13 05:24] afollestad opened #49 "When app starts, the last open folder only creates one bread crumb entry even if the path spans multiple folders"

[2015-02-13 05:38] afollestad commented on #49
Fixed

[2015-02-13 05:38] #49 closed

[2015-02-13 05:39] afollestad commented on #33
@arkon I pushed a few more things. I'm going to bed now though.

[2015-02-13 10:28] CalH00 opened #50 "Changing screen orientation or switching to another app reloads search"

[2015-02-13 10:39] CalH00 opened #51 "Better Zip Unpacking"
When I unpack a zip file, I don't really want to extract them into the folder I'm currently in, especially not if it's in the 'Downloads' folder.
So I'd love it if it worked like this:
1. Tap the three dots on a zip file.
2. Tap 'Unpack To...'.
3. Navigat﻿e to the folder you want to extract it to.
4. Tap a FAB that suggests pasting or extracting.
5. Done.

[2015-02-13 16:07] #33 closed

[2015-02-13 16:10] afollestad opened #52 "Update the status bar icon"

[2015-02-13 18:51] afollestad commented on #51
This will come with the archive viewer so I'm closing this

[2015-02-13 18:51] #51 closed

[2015-02-13 19:04] afollestad opened #53 "Root directories not correctly mounted when using copy/cut?"

[2015-02-13 19:11] afollestad commented on #52
Done

[2015-02-13 19:11] #52 closed

[2015-02-13 19:26] afollestad opened #54 "Bread crumb issues with internal storage"
If you navigate from /storage/emulated (which shows up as "Root" > "Storage" > "Emulated" in the bread crumbs), and then tap "0", it shows "Root" > "Internal Storage" instead of just "Internal Storage".

Once "Root" > "Internal Storage" shows up, tapping "Root" goes back to /storage/emulated rather than /.

[2015-02-13 20:02] plusCubed commented on #54
Well, there's the `sdcard` symlink in root that goes to the internal storage. Related perhaps?

[2015-02-13 20:03] afollestad commented on #54
Not quite, it's related to the logic in `setActiveOrAdd` which isn't perfect yet as it appears

[2015-02-13 20:12] arkon commented on #54
I think this started happening after some commits pertaining to the breadcrumb logic last night.

[2015-02-13 20:13] afollestad commented on #54
They did, the logic fixed some stuff such as saving scroll positions though

[2015-02-13 20:14] afollestad commented on #54
Before last night, the back stack was being rebuilt every time you change directories, so fragments didn't keep their instance states.

I added an extra measure to that by storing saved scroll positions in the crumbs so they're saved when you go forward in the stack where a fragment doesn't exist yet.

[2015-02-14 13:27] CalH00 commented on #51
K.

[2015-02-15 14:40] fckw opened #55 "Ask for password on each SFTP connection"
I don't want to be forced to save my password when I create a SFTP connection. The better (or an additional) way would be to ask for the password when connecting to the server.

THX

[2015-02-15 16:08] arkon opened #56 "Option for more compact rows and smaller fonts"

[2015-02-15 21:38] afollestad opened #57 "When show hidden files is enabled, some folders appear blue when they shouldn't be"
I haven't been able to reproduce this, but I've gotten a few reports

[2015-02-15 21:41] afollestad opened #58 "A 'New Folder' option while in copy/cut mode"

[2015-02-15 21:42] arkon opened #59 "Dialog text fields aren't focused"
Dialog boxes such as "New folder" or "Rename" should have focused text fields upon opening them.

[2015-02-16 00:36] afollestad commented on #59
Fixed

[2015-02-16 00:36] #59 closed

[2015-02-16 00:37] plusCubed commented on #15
Done

[2015-02-16 00:37] #15 closed

[2015-02-16 00:44] afollestad opened #60 "Menu icons no longer line up with the FAB due to its new margin"

[2015-02-16 00:44] afollestad commented on #60
Fixed

[2015-02-16 00:44] #60 closed

[2015-02-16 01:22] afollestad commented on #12
Done

[2015-02-16 01:22] #12 closed

[2015-02-16 01:32] afollestad opened #61 "Move the SFTP connection dialog to an Activity"

[2015-02-16 01:37] afollestad commented on #55
Done, this will be in the next release

[2015-02-16 01:37] #55 closed

[2015-02-16 03:28] afollestad commented on #61
Done

[2015-02-16 03:28] #61 closed

[2015-02-16 03:36] afollestad commented on #50
There's not much that can be done about this. When you switch orientation, apps recreate themselves so everything is cleared. If you don't reload nothing is displayed.

[2015-02-16 03:36] #50 closed

[2015-02-16 03:44] afollestad opened #62 "Button selectors are always blue, they should be created programatically with the accent color, with a ripple on Lollipop"
E.g. in the connection wizard activity

[2015-02-16 03:48] afollestad commented on #54
This is definitely the highest priority bug right now

[2015-02-16 05:05] afollestad commented on #58
Done

[2015-02-16 05:05] #58 closed

[2015-02-16 05:05] afollestad commented on #57
@plusCubed @arkon can either of you reproduce this issue?

[2015-02-16 05:29] afollestad opened #63 "Starting copy/cut CAB from file menu doesn't invalidate the filter toolbar color"

[2015-02-16 06:03] arkon commented on #57
I'm assuming you mean it takes the appearance of a hidden folder, since mine aren't blue normally.

I haven't ever noticed this though.

[2015-02-16 06:09] arkon commented on #54
Confirming that the described scenario does indeed happen. Technically, going back to /storage/emulated is correct (in terms of how you got there via symlinks), but I guess that's not the expected functionality.

[2015-02-16 06:13] arkon commented on #63
Do you mean for the breadcrumbs?

[2015-02-16 06:46] plusCubed commented on #57
@afollestad @arkon Me neither, can't reproduce. Are the reports from one specific Android version (or something else to narrow it down)?

[2015-02-16 09:05] plusCubed commented on #53
Fixed.

[2015-02-16 09:05] #53 closed

[2015-02-16 17:18] afollestad commented on #63
I mean the toolbar as a whole, the breadcrumbs have a transparent background, the entire toolbar area is colored

[2015-02-16 17:23] afollestad commented on #63
Fixed

[2015-02-16 17:23] #63 closed

[2015-02-16 17:31] afollestad commented on #54
It's correct when you go back, the issue is when you go forward again. There's other various scenarios where the path gets messed up, too.

[2015-02-16 17:32] afollestad commented on #40
Haven't been able to reproduce this recently, so closing it

[2015-02-16 17:32] #40 closed

[2015-02-16 17:46] arkon commented on #59
It seems like the soft keyboard is opening and immediately closing for me. Is this happening for anyone else?

[2015-02-16 17:48] afollestad commented on #59
It was but I fixed it late last night

On Mon, Feb 16, 2015, 11:46 AM Eugene Cheung <notifications@github.com>
wrote:

[2015-02-16 17:48] arkon commented on #29
Can probably use [StatFs](http://developer.android.com/reference/android/os/StatFs.html).

[2015-02-16 17:49] arkon commented on #59
Weird, I've pulled the recent changes though.

[2015-02-16 18:30] afollestad commented on #62
Done

[2015-02-16 18:30] #62 closed

[2015-02-16 18:31] afollestad commented on #57
I'm not really sure what Android version they were using. But yeah the issue is that folders are colored blue, which is the default folder icon color before the color filter gets applied to it.

[2015-02-16 19:24] afollestad commented on #14
With people complaining about the fact that the app is 23MB, I'm not sure if vectorizing all of the icons would be the best idea anymore

[2015-02-16 19:27] afollestad opened #64 "Improve grid mode"
More text should fit in grid items e.g. when using 3 columns on a phone

[2015-02-16 19:40] plusCubed commented on #14
@afollestad I would think vectors will help fix the problem (since they're just text files instead of giant images)?.... Either way, only lollipop supports it. I'm wondering if it's worth the effort to use a library like [MrVector](https://github.com/telly/MrVector) to backport VectorDrawables to <5.0. Then we can essentially remove all the images.

[2015-02-16 19:41] afollestad commented on #14
Oh yeah, that would actually be a great idea

On Mon Feb 16 2015 at 1:40:02 PM Daniel Ciao <notifications@github.com>
wrote:

[2015-02-16 19:44] plusCubed commented on #14
@afollestad OK, I'll do that then.

[2015-02-16 20:03] arkon commented on #14
@afollestad @plusCubed Another idea is to only have a "core" set of icons packaged in the APK, and additional vector and/or image files can be downloaded and cached later on?

[2015-02-16 20:05] afollestad commented on #54
This should be fixed. Let me know if you guys notice any weird navigation issues with the bread crumbs.

Basically, this will correct compression "/storage/emulated/0" to "Internal Storage" even if you navigate to it from the root directory.

[2015-02-16 20:05] #54 closed

[2015-02-16 20:17] plusCubed commented on #14
@arkon Good idea, but that would involve more complicated things. I'll open another issue for that after finishing this one (if file size remains significant).

[2015-02-16 20:18] afollestad commented on #14
A file manager shouldn't have to fetch more resources, that's something I would reserve for games.

[2015-02-16 20:18] plusCubed opened #65 "Indicate symlinks and where they point to"

[2015-02-16 20:21] arkon commented on #65
Do you mean explicitly indicating that something is a symlink as opposed to a hard link?

[2015-02-16 20:24] plusCubed commented on #65
@arkon Yes.

[2015-02-16 20:25] plusCubed commented on #65
@arkon Also where it points to.

[2015-02-16 20:29] afollestad opened #66 "Show icons in menus like solid explorer"
It's a nice touch that makes menu actions stick out.

[2015-02-16 20:41] afollestad commented on #66
Done

[2015-02-16 20:41] #66 closed

[2015-02-16 20:47] afollestad opened #67 "Keyboard stays open after input dialog closes"

[2015-02-16 21:00] plusCubed commented on #67
http://android-developers.blogspot.com/2012/05/using-dialogfragments.html?m=1
I'm not at a computer right now, you can use the method here.

[2015-02-16 21:08] afollestad commented on #67
Hmm, that doesn't really work to open it. If I use the current method to open it, that method also doesn't work to close it.

[2015-02-16 21:14] afollestad commented on #67
I slightly changed the code I had been using before and it works now

[2015-02-16 21:14] #67 closed

[2015-02-16 22:19] afollestad commented on #7
Closing this in favor of a better method

[2015-02-16 22:19] #7 closed

[2015-02-16 22:20] afollestad opened #68 "Archive viewer"
So it can be shown as if browsing a directory. The major difference will be that it doesn't switch fragments when folders are tapped, it will just reload adapter contents since it has to keep track of the ZIP file entries without reloading the fragment everytime.

[2015-02-17 02:49] afollestad opened #69 "Support for TAR/TAR.GZ files"

[2015-02-17 03:09] afollestad commented on #68
I need to solve when bread crumbs don't get added for subfolders, and I need to solve why the active crumb is not set when receiving the ACTION_VIEW intent for ZIP files.

[2015-02-17 03:15] afollestad commented on #68
I need to solve why bread crumbs don't get added for subfolders. They just replace the ZIP's bread crumb.

E.g. MyFile.zip turns into "MyZipFolder", which turns into "MyZipFolder/SubSubFolder" rather than "MyFile.zip" > "MyZipFolder" > "SubSubFolder".

[2015-02-17 04:22] afollestad commented on #68
Bread crumbs now work.

Now, files need to be extracted to temp files when opened from inside the archive viewer, and the 'Extract' action needs to extract the entire archive to a chosen location.

[2015-02-17 04:36] plusCubed commented on #14
I replaced the file icons with vectors by using the MrVector library. Unfortunately, the overall file size didn't change much, and after examining all the image files combined, it is not surprising: they only use 500KB. Removing images is not going to be the solution for file size.

Anyway, there are still a few icons I need to change to vector (the custom ones).

[2015-02-17 04:46] afollestad opened #70 "APK icons not loading?"

[2015-02-17 04:46] arkon opened #71 "Use zipAlignEnabled in build.gradle"

[2015-02-17 05:03] afollestad commented on #71
According to http://tools.android.com/tech-docs/new-build-system/user-guide, this is enabled by default while in release mode

[2015-02-17 05:03] #71 closed

[2015-02-17 05:27] afollestad commented on #70
I discovered that this is because it can only currently show icons for installed apps, it's not able to read icons from APK files with the current setup.

@plusCubed

[2015-02-17 05:43] afollestad commented on #68
Done, needs testing

@plusCubed @arkon

[2015-02-17 05:43] #68 closed

[2015-02-17 07:15] plusCubed opened #72 "Root issues"
Due to a commit I made, I'm fixing this right now. Just putting this here so we don't release with this bug in there....

[2015-02-17 08:46] #72 closed

[2015-02-17 16:21] afollestad opened #73 "I was asked to grant root when copying from internal storage to another folder in internal storage?"

[2015-02-17 16:22] afollestad opened #74 "Creating archives from Cabinet doesn't correctly add the directory structure"

[2015-02-17 16:31] arkon commented on #68
@afollestad Seems to function well. The up option in the toolbar isn't present though, not sure if intentional or just left out.

Going back into a relatively large ZIP shows that it's being reloaded again too, although this is semi-expected.

[2015-02-17 16:48] afollestad commented on #74
Done

[2015-02-17 16:48] #74 closed

[2015-02-17 17:03] afollestad commented on #70
Fixed

[2015-02-17 17:03] #70 closed

[2015-02-17 17:05] afollestad commented on #57
I'm going to class now. But once this and https://github.com/afollestad/cabinet-issue-tracker/issues/73 are fixed, we can push an update.

We should try to look for any other quirks or bugs while browsing through the app too.

[2015-02-17 19:07] afollestad commented on #14
Done, right @plusCubed?

[2015-02-17 19:07] #14 closed

[2015-02-17 19:39] plusCubed commented on #73
Try it again with the latest code. It should have been fixed in afollestad/cabinet@46ec4d2ece1029a1f70135899e19941905e9aa45

[2015-02-17 19:54] plusCubed opened #75 "Root file properties issues b/c of java.io.File"
The Java `File` thinks the file doesn't exist (`exists()` returns false), but it does. This is due to no read permission for the "others" scope.

This causes weird issues like not being able to open it in the text editor (since it depends on the Java file) and having their file sizes as 0.

Example: Any files in /data/system/

[2015-02-17 19:56] plusCubed commented on #75
File sizes are easy enough to fix, I'll work on that first. I'm not sure how to approach the text editor problem.

[2015-02-17 20:03] afollestad commented on #73
Yeah I was using the latest code when I tested it, I believe

[2015-02-17 20:04] afollestad commented on #73
Wait, nvm, it seemed to go away all of a sudden

[2015-02-17 20:04] #73 closed

[2015-02-17 20:49] afollestad commented on #75
This and https://github.com/afollestad/cabinet-issue-tracker/issues/57 are the last before a Google Play update

[2015-02-17 22:33] afollestad commented on #75
This is originally one of the reasons why I had been parsing "ls -l" output for root files, btw

[2015-02-17 22:42] afollestad commented on #75
Also, the Text Editor can attempt to read the file and close in the case of an exception rather than checking for existence with `exists()`. But that issue would still elsewhere. @plusCubed

[2015-02-17 23:57] afollestad opened #76 "When root access is requested from libsuperuser, the entire app process lags"
Even though an interactive shell is used, and it **should** be on a separate thread?

[2015-02-18 00:02] afollestad commented on #75
I made it so that the text editor attempts to read it rather than checking if it exists first. Although now permission denied errors are received, as if mounting isn't working. I'm gonna publish an update though.

[2015-02-18 03:25] afollestad opened #77 "Crash when the details dialog opens"

[2015-02-18 03:32] #77 closed

[2015-02-18 03:33] afollestad opened #78 "Vector graphics seem low-res"

[2015-02-18 04:02] afollestad opened #79 "A few vectors are missing for icons"
E.g. ic_file_pdf.png

Caused crashes on pre-L devices. Temporarily solved by catching crashes and getting the resource directly instead.

[2015-02-18 05:23] afollestad opened #80 "Another weird issue which multiple people reported"
This is a screenshot posted in the community:

![15 - 1](https://cloud.githubusercontent.com/assets/1820165/6242838/eb77659e-b6fb-11e4-970b-e79dcc151e74.png)

[2015-02-18 05:23] afollestad commented on #80
The folders at the bottom are black

[2015-02-18 05:26] afollestad commented on #80
Might be related to issue https://github.com/afollestad/cabinet-issue-tracker/issues/57

[2015-02-18 05:29] afollestad opened #81 "Back stack gets messed up when coming back to the app after a while"
E.g. my back stack when leaving the app is:

"Internal Storage" > "DCIM" > "Camera"

When I come back to the app later, they're still like that. However, if I click "Internal Storage", it stays in "DCIM" as if an extra fragment back stack entry got in there.

[2015-02-18 05:41] plusCubed commented on #80
Same issue I believe, the vectors' default color is black.

[2015-02-18 05:41] #80 closed

[2015-02-18 06:05] CalH00 opened #82 "Re-Navigation into zip-files only possible via breadcrumb"
When opening a zip folder and going back, you can only get back into it via the breadcrumb. If you try to do it via the list entry of that zip folder, it doesn't work, but if you try to tap the breadcrumb of the previous folder, it's blank. If you open a folder inside that zip file, sometimes the view of the previous folder is fixed, sometimes it shows the contents of the zip folder.

[2015-02-18 06:06] CalH00 opened #83 "Tapping the overflow button inside a zip folder makes the 'Extract' button dark."

[2015-02-18 06:07] CalH00 opened #84 "'Extract to' in the file overflow menu"
Would be way more convenient if it was there.

[2015-02-18 06:20] CalH00 opened #85 "Search underline and cursor colour"
![screenshot_2015-02-18-07-18-14](https://cloud.githubusercontent.com/assets/7706853/6243279/61045aa0-b73e-11e4-93c7-972340d84a7b.png)

It'd look better if the colour of the underline and the cursor would match up with the colour of the icons and the text in the action bar, don't you think?

[2015-02-18 11:39] ziem opened #86 "ANR when deleting large directory"
ANR when deleting large directory (osmdroid directory with thousands of images). I sent report via Google Play about an hour ago.

[2015-02-18 14:55] afollestad commented on #85
Unfortunately that's not possible, you can't change those colors at runtime

[2015-02-18 14:55] #85 closed

[2015-02-18 15:53] afollestad commented on #86
Thank you.

Just so you know, I get auto crash reports so Google Play crash reports aren't necessary

[2015-02-18 17:34] afollestad commented on #83
Fixed

[2015-02-18 17:34] #83 closed

[2015-02-18 17:54] afollestad opened #87 "Superuser needed to create folders or copy files in internal storage"

[2015-02-18 17:55] afollestad commented on #87
I can confirm that this happens in internal storage

[2015-02-18 17:56] afollestad opened #88 "A progress dialog should be displayed when deleting files/folders not from the CAB"

[2015-02-18 18:04] afollestad commented on #84
Done

[2015-02-18 18:04] #84 closed

[2015-02-18 18:16] afollestad commented on #87
Extended this to copying files, too.

[2015-02-18 18:16] afollestad opened #89 "Directory should be sorted when files are pasted into it"

[2015-02-18 18:17] afollestad commented on #86
Should be fixed

[2015-02-18 18:17] #86 closed

[2015-02-18 18:18] afollestad commented on #88
Done

[2015-02-18 18:18] #88 closed

[2015-02-18 18:19] afollestad commented on #89
Done

[2015-02-18 18:19] #89 closed

[2015-02-18 18:27] afollestad commented on #87
Temporarily worked around this by checking if a file's path starts with `Environment.getExternalStorageDirectory()`, if it does, then `false` is returned for `requiresRootForParentDirectoryWrite()`.

[2015-02-18 18:31] afollestad commented on #76
This seems to happen less now

[2015-02-18 18:31] #76 closed

[2015-02-18 19:00] afollestad commented on #82
Good catch, fixed

[2015-02-18 19:00] #82 closed

[2015-02-18 19:08] afollestad commented on #10
Might come in useful on Lollipop:

http://stackoverflow.com/a/26765884/309644

[2015-02-18 19:43] afollestad opened #90 "When extraction is complete and it switches you to the destination directory, that directory is alone in the crumbs"

[2015-02-18 19:51] afollestad commented on #90
Fixed

[2015-02-18 19:51] #90 closed

[2015-02-18 20:23] afollestad opened #91 "Scroll position is again not persisted"

[2015-02-18 20:24] afollestad commented on #87
Not sure if the current solution is the safest, but it works for now so I'm closing this.

[2015-02-18 20:24] #87 closed

[2015-02-18 20:38] afollestad commented on #10
Not sure how this will be done on KitKat--

[2015-02-18 20:40] afollestad commented on #91
This is because the code was removed that attempts to re-use previous back stack items. I will need to do it a different way now, since the back stack gets recreated everytime.

[2015-02-18 20:59] plusCubed commented on #78
Found the solution/workaround: the width and height of the vector needs to be high-res. I'm fairly certain it'll kill performance on lower-end devices though. I think switching to something like [androidsvg](https://code.google.com/p/androidsvg/) is more viable. I'll keep this issue open while I work on that.

[2015-02-18 21:01] plusCubed commented on #75
I added a workaround for the file sizes issue, but it causes a lot of lag because it's run on the same thread.

[2015-02-18 21:42] afollestad commented on #91
With the current implementation of position saving, I think the issue is that the states get cleared in `setActiveOrAdd()`. The restore logic must not be working.

[2015-02-18 22:47] afollestad commented on #91
I think it's because scroll position gets saved after the bread crumbs actually process everything, since onPause() is called after the transaction starts. Scroll position needs to be saved before the bread crumbs want to show the next page.

[2015-02-18 23:11] afollestad commented on #91
I confirmed that the issue is even before that. `addArtificalBackStack()` is called after `setActiveOrAdd()` clears all the bread crumbs, so the states go away very early in the changing process.

[2015-02-18 23:13] afollestad opened #92 "The ability to delete files with left/right swipe, and an undo option"
Similar to Inbox or Gmail.

[2015-02-18 23:57] plusCubed commented on #75
Text editor fixed, still need to move file size/information getting to separate thread.

[2015-02-19 01:14] afollestad commented on #91
Fixed

[2015-02-19 01:14] #91 closed

[2015-02-19 01:17] afollestad commented on #57
Do you think this was an issue with vectors before? @plusCubed

[2015-02-19 01:25] plusCubed commented on #57
@afollestad  I think this issue existed before we added the vectors?

[2015-02-19 02:00] AnkitJose opened #93 "App backup feature(ability to create apk from preexisting app)"
Can you please add an app backup feature which will be able to create apks out of the apps which are already present on the phone? The only feature that is remaining to make this wonderful app complete.

[2015-02-19 02:06] afollestad commented on #93
I'm not quite sure what you mean by this. You can't create an APK from installed app, and installed app is already an APK and they're all listed in the root /data/app directory.

[2015-02-19 02:06] #93 closed

[2015-02-19 02:16] AnkitJose opened #94 "App backup feature(ability to create apk from preexisting app)"
I'm really sorry for posting this thread again but I'm just saying- how does es file explorer do it then? es file explorer can create apk backups without root. I myself use the feature on a regular basis.

[2015-02-19 02:18] AnkitJose commented on #94
FYI. The only reason I'm not fully adapting to cabinet is due to the lack of this feature. You know you sometimes wanna share a game with a friend who really wants it!

[2015-02-19 02:20] afollestad commented on #10
Nevermind, we won't use those Lollipop APIs. They're not intended to be used the way they think they can be. I'm testing how SD cards mount with an AVD emulator (which is surprisingly fast with the latest Android Studio and HAXM).

[2015-02-19 02:22] afollestad commented on #94
You could've re-opened the other one rather than creating duplicates, this makes everything messy.

I'm not sure how that could possibly be done, /data/app is the only place user-installed apps go. Regardless, this doesn't seem necessary to me, especially since it aids app pirating.

[2015-02-19 02:22] #94 closed

[2015-02-19 02:34] afollestad commented on #78
I think the reason the icons look small is because the thumbnail in the actual layout is 44dp and the vectors are set to 24dp

[2015-02-19 02:35] afollestad commented on #78
Maybe not, attempting to change the view port width or height makes the icons even smaller

[2015-02-19 02:48] plusCubed commented on #78
The view port shouldn't be changed in any case (it's the canvas the vector points/paths are drawn on, e.g. 24 by 24, then scaled to the actual size without losing quality). It's just that the icons have a padding inside (just like before we changed to vectors), so it doesn't line up with the drawer icon, just like before. I don't think it should be moved left to line up, since some other icons won

[2015-02-19 03:08] plusCubed commented on #78
Actually, I'll just move it left to line it up. I'm matching the list dimensions up with the guidelines, so this'll be part of that.

[2015-02-19 03:08] afollestad commented on #78
Oh okay cool, sounds good

[2015-02-19 04:46] afollestad opened #95 "Issue with text editor changing file permissions on save"
From an emailed report:

"When I edit a file in /system/etc, once the file is saved, the permissions change to 0600 when it was originally 0644. This broke some audio playback for me. No biggie but might break something more serious if it was in important file."

[2015-02-19 04:47] plusCubed commented on #95
Should be fixed with afollestad/cabinet@83d1ae5c479dd67f2df4543146a3b7a7cc9fb169

[2015-02-19 04:47] #95 closed

[2015-02-19 05:02] afollestad commented on #95
Oh yeah didn't notice that, thanks

[2015-02-19 05:08] #10 closed

[2015-02-19 05:09] afollestad opened #96 "SD card should have its own nav drawer icon"

[2015-02-19 05:09] afollestad opened #97 "USB OTG support?"

[2015-02-19 05:29] afollestad opened #98 "Selecting a file for selection mode causes its thumbnail to be reloaded"

[2015-02-19 05:36] afollestad opened #99 "SD card should be added or removed from nav drawer based on mounted state, bread crumbs need to be invalidated based on mount state too"

[2015-02-19 05:40] afollestad opened #100 "Compress bread crumbs for SD card path"

[2015-02-19 05:42] afollestad opened #101 "Nav drawer is adding duplicate SD card entries every time the app loads"

[2015-02-19 09:54] haarp opened #102 "Where did the source go?"
What happened to the source code? Is this app closed-source now? Including the contributions you received from others?

Just curious!

[2015-02-19 12:20] joho506 commented on #102
It is indeed closed-source now, IIRC someone copied the entire code including crash reporting and didn't bother to change the account it registers with, so he kept getting constant emails every time the rip-off (com.grizzly.main) was opened.

[2015-02-19 13:40] #102 closed

[2015-02-19 14:09] haarp commented on #102
That's a license issue tho, not a source issue. And naturally it's possible that some idiots copy everything, but in the end that got taken care of, didn't it?

Unfortunately I can't update this app anymore now. Which is sad, I liked it.

Closing the source is also a bit rude, considering that others also have contributed to this app when it was still open.

[2015-02-19 15:00] afollestad commented on #102
Actually I wasn't getting enough contribution for it to make a difference.
The 2 people who made frequent contributions still have access to the
source.

On Thu, Feb 19, 2015, 8:09 AM haarp <notifications@github.com> wrote:

[2015-02-19 15:13] haarp commented on #102
Oh, I see, nice.

Do you think you might open it up again at some point?

[2015-02-19 15:24] afollestad commented on #102
Probably not, I may have paid features at some point so it's safer to keep
it as my intellectual property.

On Thu, Feb 19, 2015, 9:14 AM haarp <notifications@github.com> wrote:

[2015-02-19 15:27] haarp commented on #102
I see. Just a note: Open-source doesn't imply that it must cease being your IP. It all depends on the license used.

[2015-02-19 15:27] afollestad commented on #102
Well everyone being able to compile it and disable having to pay for things
in the future would defeat the purpose

On Thu, Feb 19, 2015, 9:27 AM haarp <notifications@github.com> wrote:

[2015-02-19 15:34] haarp commented on #102
Well to be fair, there aren't many people able to do that. There are some apps (OsmAnd comes to mind) that officially offer a full open-source variant for the 0.1% users using F-Droid and a paid version for the other 99.9% in the Play Store :)

Alternatively, paid features could also reside on a private development tree with the rest being public.

But it's your choice of course.

[2015-02-19 15:35] afollestad commented on #102
Hmm, yeah that's a good point

[2015-02-19 15:48] afollestad opened #103 "Creating files/folders in some root directories doesn't work"
E.g. inside /storage

I don't think directories are getting mounted

[2015-02-19 15:50] afollestad commented on #103
Should be:

***mount -o rw,remount /***

In pretty much all cases. You can't mount sub-folders, only "device directories".

[2015-02-19 15:55] afollestad commented on #41
This would be the same as how it works for files, just with the recursive -R argument to the chown/chmod commands.

[2015-02-19 16:07] afollestad commented on #96
It will be the same as internal storage for now

[2015-02-19 16:07] #96 closed

[2015-02-19 16:17] afollestad commented on #99
@arkon it would be helpful if you could test this

[2015-02-19 16:17] afollestad commented on #101
@arkon it would be helpful if you could test this, too

[2015-02-19 16:17] afollestad commented on #100
@arkon annnd it would be helpful if you could test this

[2015-02-19 16:53] #101 closed

[2015-02-19 16:53] afollestad opened #104 "Weird folder deletion issue"
Their post content:

"Screen gets stuck over here... :/ doesn't delete anything even after 15 minutes. So it's not UI problem. Nexus 4 (5.0.1 Stock Lollipop)"

![15 - 1](https://cloud.githubusercontent.com/assets/1820165/6271328/96dd1760-b825-11e4-80e3-46cb450e1d43.png)

[2015-02-19 16:54] arkon commented on #101
@afollestad This doesn't happen anymore.

[2015-02-19 16:56] afollestad commented on #101
@arkon sweet!

Thanks

[2015-02-19 16:56] arkon commented on #100
@afollestad Shows "Root > Storage > SD Card" for me.

Launching the app (with or without saved location) also makes it go to "Root > Storage > Emulated > Internal Storage" (i.e. it isn't compressed). It's fine if you navigate to it from the nav drawer though.

[2015-02-19 16:57] arkon commented on #99
I unmounted the SD card, reopened the app, and it shows a "sdcard1" item in the nav drawer. Entering it opens up an empty folder (and requested root).

[2015-02-19 16:58] afollestad commented on #100
@arkon hmm, very weird.

I wish I had an easy way to test this myself too.

[2015-02-19 16:59] arkon commented on #99
Remounting the SD card works as expected though, the app immediately shows its contents again, even without relaunching it. The nav drawer also correctly says "SD Card" again, although the breadcrumb continues to say "sdcard1" until it's renavigated to again.

[2015-02-19 17:01] afollestad opened #105 "SD card folders should be navigated away from when SD card is unmounted or the app is restarted with the SD card set as the last folder"
The nav drawer selection being updated will come with this too.

[2015-02-19 17:02] afollestad commented on #99
Good finds, thanks. I'll have to work on this more after class.

For whatever reason the stock Android emulators don't mount SD cards as expected so I have to figure that out. It would make fixing all of this a lot easier.

[2015-02-19 17:05] arkon commented on #99
@afollestad If you have some money lying around, you could pick up a Moto G for testing or something.

[2015-02-19 17:08] afollestad commented on #99
Unfortunately I haven't had had a lot of time to work so I'm a broke college student lol

[2015-02-19 17:12] arkon commented on #99
Those American tuition fees, huh? :sob:

[2015-02-19 17:13] afollestad commented on #99
Haha yeah 😂

[2015-02-19 19:45] afollestad commented on #100
@arkon I think I found a way to mount an SD card to a path in the emulator.

[2015-02-19 19:45] arkon commented on #100
@afollestad Isn't it pretty complicated?

[2015-02-19 19:46] afollestad commented on #100
Not as complicated as I thought, haven't tested it yet: http://www.jayway.com/2009/04/22/working-with-sd-cards-in-the-android-emulator/

[2015-02-19 20:10] afollestad commented on #100
It didn't quite work. Dammit.

[2015-02-19 20:15] afollestad commented on #100
Should work now in theory

[2015-02-19 20:15] #100 closed

[2015-02-19 21:40] afollestad opened #106 "Internal storage breadcrumbs not compressed on initial start, external storage not at all"

[2015-02-19 22:03] afollestad commented on #106
Fixed.

@arkon

[2015-02-19 22:03] #106 closed

[2015-02-19 22:26] afollestad commented on #81
Can't reproduce again for now

[2015-02-19 22:43] afollestad commented on #100
Works officially now

[2015-02-20 05:11] afollestad commented on #78
Putting a circle around icons (not including images and APK thumbnails) might look nice actually.

[2015-02-20 05:39] arkon commented on #78
Might look really annoying if it's usually circles and then you suddenly have your squares and irregular APK icon shapes though. It's almost more consistent to have inconsistent shapes.

[2015-02-20 13:42] afollestad commented on #78
True

On Thu, Feb 19, 2015, 11:39 PM Eugene Cheung <notifications@github.com>
wrote:

[2015-02-20 18:02] afollestad opened #107 "Issue with bread crumbs on resume"
I think it only happens if you come back to the app after some time, e.g. when it goes out of memory?

It's as if it forgots the path of the first bread crumb, which holds /storage/emulated/0, and thinks the path is /0?

![screenshot_2015-02-20-12-00-29](https://cloud.githubusercontent.com/assets/1820165/6306344/42a7dbfc-b8f8-11e4-82b2-b0ce77bb4d29.png)

[2015-02-20 18:08] arkon commented on #107
Makes sense since it relies on the back stack. It's probably particularly bad on Lollipop because of the memory issues.
On Feb 20, 2015 1:02 PM, Aidan Follestad <notifications@github.com> wrote:I think it only happens if you come back to the app after some time, e.g. when it goes out of memory?

It's as if it forgots the path of the first bread crumb, which holds /storage/emulated/0, and thinks th

[2015-02-20 18:10] afollestad commented on #107
Well, the path is saved in strings in the bread crumbs themselves, not in
the fragments. So it's very weird.

On Fri, Feb 20, 2015, 12:08 PM Eugene Cheung <notifications@github.com>
wrote:

[2015-02-20 20:06] plusCubed commented on #107
Confirmed: Turn on Don't Keep Activities in the developer options and it happens every time

[2015-02-20 20:13] plusCubed commented on #107
#81 seems to be happening too...

[2015-02-20 21:31] plusCubed commented on #107
@afollestad @arkon Fixed: the context of the `File` wasn't set, so it couldn't check if the path was internal storage, sdcard, root, etc.

I'm going to reopen #81 though.

[2015-02-20 21:31] #107 closed

[2015-02-20 21:35] plusCubed commented on #81
With "Don't keep activities" selected in the developer options, this happens a lot more (Still not 100%, but this should help with debugging).

[2015-02-21 02:25] afollestad commented on #81
Oh yeah, weird. Not sure why this happening.

[2015-02-21 02:34] afollestad commented on #81
Well the first thing I noticed, is that `addArtificalBackStack()` only gets called for the last directory.

[2015-02-21 02:40] afollestad commented on #81
I believe I found a solution

[2015-02-21 02:41] afollestad commented on #81
Fixed!

[2015-02-21 02:41] #81 closed

[2015-02-21 02:43] afollestad commented on #104
@plusCubed have you been able to reproduce this issue? Deletion seems to be working fine on my end. It looks like he was deleting folders from selection mode.

[2015-02-21 03:26] afollestad opened #108 "Old SD card folders get stuck in the nav drawer"
If the SD card path changes, the app doesn't remove the old path and it gets stuck in the user's pins.

[2015-02-21 03:31] afollestad commented on #108
@plusCubed @arkon if you guys have installed newer builds than what's on Google Play, I recommend that you clear data for the app since some ordering stuff for the navigation drawer was changed (pins have 'order' integers saved with them in newer builds, removable ones were getting the wrong number).

[2015-02-21 03:35] afollestad commented on #108
Should be fixed

[2015-02-21 03:35] #108 closed

[2015-02-21 03:41] arkon commented on #108
@afollestad Thanks for the heads up.

[2015-02-21 03:41] afollestad opened #109 "Fixed issue that caused wrong icon to be used in nav drawer for external storage"

[2015-02-21 03:41] afollestad commented on #109
Fixed

[2015-02-21 03:41] #109 closed

[2015-02-21 03:53] afollestad commented on #99
@arkon can you test this again when you get the chance? I just pushed some code that in theory should only display the external storage shortcut if the phone reports it as mounted.

[2015-02-21 03:56] arkon commented on #99
@afollestad Literally just finished an assignment. I'll get report back in a bit.

[2015-02-21 04:08] arkon commented on #99
Unmounted the SD card and the app remains in the folder, breadcrumbs and nav drawer remain unchanged. Relaunched the app and the nav drawer entry is gone, but the app remains in the same directory (although that's #105).

Remounting the SD card also requires me to relaunch the app to see it in the nav drawer.

[2015-02-21 04:11] afollestad commented on #99
Well good news that it goes away when the app is re-opened. So it looks like the `BroadcastReceiver` in `NavigationDrawerFragment` that receives the mount intents isn't receiving the intent broadcasts, or some other logic is wrong. But yeah the other stuff will come with #105, once I've verified that the broadcast receivers get notified correctly when the mounted state changes.

Thanks for the rep

[2015-02-21 04:12] arkon commented on #99
Tried it again. I think I might had to relaunch the app to make it go away because I was in the sdcard1 folder at the time. I tried it again from internal storage, and the nav drawer entry for External Storage immediately disappeared. Remounting didn't cause it to immediately come back though (relaunching works).

[2015-02-21 04:14] arkon commented on #99
Although the nav drawer entry doesn't show up, you can of course manually navigate to /storage/sdcard1/ perfectly fine.

[2015-02-21 04:15] afollestad commented on #99
Hmm, that's pretty weird. The navigation drawer operates independently so it shouldn't be effected by what directory you're in :scream:

If you set a breakpoint at line 40 of `NavigationDrawerFragment`, does that line get called when you mount or unmount?

That reminds me, you have read/write access? Right? If you didn't, it would show a warning on startup.

[2015-02-21 04:16] arkon commented on #99
I do have write access to my SD card, yeah.

[2015-02-21 04:16] afollestad commented on #99
Awesome, getting close to production-ready.

[2015-02-21 04:35] arkon commented on #99
Oh boy, I realized I can't have my phone connected to my computer via USB and mount/unmount at the same time and had to use wireless ADB. What a pain.

I also just put in a Log comment in the method, since I couldn't tell if the debugger was working over wireless or not.

It seems to have triggered once when I unmounted, and the "External Storage" entry disappeared (which made DCIM entry active --

[2015-02-21 04:38] afollestad commented on #99
Lol, well you can, but you have to explicitly say which connection to use.

Oh yeah, debugging doesn't seem to work over wireless since there's too much of a lag time for loading the stack and stack variables.

Hmm, I wonder if I'm missing a needed intent when I set up the intent filter (**line 70** of `NavigationDrawerFragment`). Also, I think changing the selection there will come with #105, I'l

[2015-02-21 04:44] arkon commented on #99
Oh yeah, I can just disable MTP/PTP. Let me go try debugging it.

[2015-02-21 04:44] afollestad commented on #99
Good idea, sounds good

[2015-02-21 04:46] arkon commented on #99
Wait I lied, ADB doesn't work properly without MTP.

[2015-02-21 04:47] afollestad commented on #99
Oh right, I never deal with that on my Nexus devices lol

[2015-02-21 04:47] arkon commented on #99
I used to love having a SD card slot. :sob:

[2015-02-21 04:48] afollestad commented on #99
Well, it's nice to have in situations like this :sweat_smile:

[2015-02-21 04:53] arkon commented on #99
[Relevant?](http://stackoverflow.com/questions/7142987/media-mounted-broadcast-not-being-received)

[2015-02-21 04:53] afollestad commented on #99
Unfortunately no, the file scheme is added on **line 74**

[2015-02-21 04:55] arkon commented on #99
Hmm could it have anything to do with it being in `onResume` and not in `onCreate`, for example?

[2015-02-21 04:56] afollestad commented on #99
It shouldn't onCreate() is only called the first time the app starts (well, the fragment). onResume() and onPause() will be called every time the app opens or closes, which is important because the broadcast receiver will cause a leak if it's not unregistered.

[2015-02-21 04:57] arkon commented on #99
But if the app was just opened, would `onResume` be called so that the intent filters and broadcast receiver are registered?

[2015-02-21 04:57] afollestad opened #110 "Nav drawer should be refreshed whenever the app opens (if it's doesn't already do so)"
This needs to be verified, but this is important to make sure external storage is added or removed if the app is re-opened. It should go in onResume() if it doesn't already happen elsewhere.

[2015-02-21 04:59] afollestad commented on #99
Yeah, if it's triggered when it unmounts like I believe you said above, that should verify that works too.

Hmmmm.

[2015-02-21 07:20] letroll opened #111 "Cabinet became closed sources?"

[2015-02-21 07:21] afollestad commented on #111
It became closed source, yes.

https://github.com/afollestad/cabinet-issue-tracker/issues/102

[2015-02-21 07:21] #111 closed

[2015-02-21 08:34] letroll opened #112 "the Keystore's login password should be removed from github"
Hello, I'm not sure it's your personal login,password and keystore, but I've seen multiple repository on github with that data.

May be it's not too late to remove it.

[2015-02-21 16:28] afollestad commented on #112
There is no public repository to remove it from.

[2015-02-21 16:28] #112 closed

[2015-02-21 16:37] arkon commented on #112
https://github.com/search?q=aidan1995&type=Code&utf8=✓

[2015-02-21 16:38] afollestad commented on #112
Well, yeah, there's not much I can do about those unless I were to contact
them all to take them down. I'm not sure if this guy realizes it's no
longer open source.

On Sat, Feb 21, 2015, 10:37 AM Eugene Cheung <notifications@github.com>
wrote:

[2015-02-21 16:43] afollestad commented on #112
I just contacted the people in those search results but there's no
guarantee they'll respond (other than Shirwa who I know personally).

On Sat, Feb 21, 2015, 10:38 AM Aidan Follestad <drummer.aidan@gmail.com>
wrote:

[2015-02-21 19:33] #79 closed

[2015-02-22 00:27] plusCubed commented on #104
@afollestad I can't reproduce either. Hmm... weird.

[2015-02-22 07:18] afollestad commented on #99
Once this and https://github.com/afollestad/cabinet-issue-tracker/issues/105 are done, we can publish an update.

@arkon @plusCubed

[2015-02-22 07:18] afollestad commented on #99
And possibly https://github.com/afollestad/cabinet-issue-tracker/issues/110

[2015-02-23 04:07] #110 closed

[2015-02-23 05:21] #78 closed

[2015-02-23 08:27] cmikeh2 opened #113 "Floating Action Button actions obstructed in landscape."
When in landscape and the floating action button is pressed to create files, the top generic file option is obstructed because the z-height of the toolbar is greater than the action button.

[2015-02-23 15:54] afollestad opened #114 "SD card is writable for some but not for others?"

[2015-02-24 01:30] ALIRAQI opened #115 "Custom Tabs"
Hi
Can please add Custom tab feature with it users add tabs to different folder for quick access it should appear under external storage option
Check the picture
http://s10.postimg.org/uho061kcp/Pics_Art_1424741109277.png

This the only feature I miss in this awesome app

Thanks

[2015-02-24 01:31] afollestad commented on #115
The divider separates custom shortcuts and shortcuts that cannot be removed.

The shortcuts below that line are custom. You can bookmark folders there from the 3-dot menus within lists.

[2015-02-24 01:31] #115 closed

[2015-02-24 01:45] afollestad opened #116 "Directory structure not detected correctly for APK files that are changed to ZIP files"
It just shows all files, there's no folder structure like there should be.

[2015-02-24 20:59] afollestad commented on #1
OneDrive has an API now, too

[2015-02-24 21:18] afollestad commented on #113
Hmm. You must have a very small screen.

The only thing that can be done about this right now is turning off the "Current Path" option while in landscape. I'll see if there's any other ways to improve this.

[2015-02-24 21:18] afollestad commented on #104
Can't reproduce

[2015-02-24 21:18] #104 closed

[2015-02-25 02:10] afollestad commented on #116
Should be fixed.

[2015-02-25 02:10] #116 closed

[2015-02-25 02:35] afollestad opened #117 "Various out of memory issues"
In the Text Editor (mostly in places where StringBuilders are used), since we save the previous text state to see if anything has changed. It also gets passed through the saved instance state.

Also, when using the backwards compatible vector library, inflation sometimes causes out of memory errors.

[2015-02-25 05:01] karlding opened #118 "Changelog text causes horizontal scrolling in dialog box"
The changelog text overflows along the x-axis, causing the Changelog Dialog to overflow horizontally, and becomes horizontally scrollable.

![Screenshot 1](http://i.imgur.com/MHS98yL.png "All the way left")
![Screenshot 2](http://i.imgur.com/0DQmVnX.png "All the way right")

I'm using a Nexus 5 running Stock Lollipop (rooted).

[2015-02-25 05:10] afollestad commented on #118
There's not much I can do about this as far as I know. That's just a web view displaying HTML content, your phone choose to make it horizontally scrollable.

[2015-02-25 05:10] afollestad commented on #118
But I'll see if there's any possible solutions.

[2015-02-25 09:25] t0phr opened #119 "SFTP not working correctly for some"
On earlier versions SFTP worked fast and reliably. But since a few updates opening a folder on a SFTP share mostly shows "Error". It does not crash, the folder is just not displayed. Moving back to the parent folder afterwards works sometimes, but often also ends up showing "Error".
BUT: switching to another app and back while the SFTP connection is open fixes the issue. After a switch cycle I can

[2015-02-25 17:30] afollestad commented on #119
I'll look into this, thank you!

[2015-02-25 18:55] afollestad commented on #119
@t0phr it's actually working great for me.

It appears it's an issue specific to your phone or Android version. Not sure what can really be done about it at the moment.

Any ideas? @plusCubed

![screen shot 2015-02-25 at 12 55 05 pm](https://cloud.githubusercontent.com/assets/1820165/6377967/9b6fff78-bced-11e4-8533-a70ca5af1796.png)

[2015-02-25 19:27] t0phr commented on #119
I did a little more research, logcat tells me this:

W/System.err(11518): 4:
W/System.err(11518): 	at com.jcraft.jsch.ChannelSftp._stat(Unknown Source)
W/System.err(11518): 	at com.jcraft.jsch.ChannelSftp._stat(Unknown Source)
W/System.err(11518): 	at com.jcraft.jsch.ChannelSftp.ls(Unknown Source)
W/System.err(11518): 	at com.jcraft.jsch.ChannelSftp.ls(Unknown Source)
W/System.err(11518): 	at com.

[2015-02-25 19:29] #118 closed

[2015-02-25 19:31] t0phr commented on #119
And I found a better workaround: changing display orientation.
When I do this, the folder's content is displayed correctly. This is what logcat tells me when phone is rotated: http://pastebin.com/F1QXiffH

[2015-02-25 21:00] plusCubed commented on #119
@afollestad Found [this](http://stackoverflow.com/questions/28411153/jsch-suppressed-java-lang-classnotfoundexception-lorg-ietf-jgss-oid) stackoverflow post for that Fabric.io issue, but there's no answer right now. I think, as you said, it's a device thing (for that crash at least). @t0phr said the app didn't crash though.

[2015-02-26 13:10] mydegeneration opened #120 "Stuck whilst selection of file details"
The app gets stuck asking for root access every time one selects the details of any file even though I've already granted root privileges to the app.

[2015-02-26 16:41] afollestad commented on #119
Well, it looks like these issues are mostly related to the SFTP library being used (Jsch).

Not sure if anything can be done until it gets updated.

[2015-02-26 16:48] afollestad commented on #114
@plusCubed @arkon if either of you could help solve this, and the other issues I'll tag you in, it would make it a lot easier. It's almost impossible since I can't get SD cards to work in emulators, lol.

[2015-02-26 16:48] afollestad commented on #105
@plusCubed @arkon here's another one

[2015-02-26 16:48] afollestad commented on #99
@plusCubed @arkon and another one which you've already commented on lol

[2015-02-26 17:04] afollestad commented on #117
Fixed for the text editor at least

[2015-02-26 17:04] #117 closed

[2015-02-26 19:24] arkon commented on #85
Might actually be possible: http://www.jayway.com/2014/06/02/android-theming-the-actionbar/

[2015-02-26 19:25] afollestad commented on #85
That's a little outdated. With Material theming and appcompat, they source the themes from a different location.

Although, if I could get a reference to the TextView, a color filter could be applied. But that requires hacky reflection.

[2015-02-26 19:27] arkon commented on #85
Well all themes are technically themable.
On Feb 26, 2015 2:25 PM, Aidan Follestad <notifications@github.com> wrote:That's a little outdated. With Material theming and appcompat, they source the themes from a different location.

Although, if I could get a reference to the TextView, a color filter could be applied. But that requires hacky reflection.

—Reply to this email directly or view it on Gi

[2015-02-26 19:30] afollestad commented on #85
@arkon the underline of edit texts with Material design are derived from the `colorAccent` attribute of the Activity theme. You can't change that at runtime, styles.xml is static.

But it is indeed possible to force the color to change by applying a color filter, but again, reflection is needed since the TextView is a private view hidden deep within the SearchView.

[2015-02-28 18:25] afollestad commented on #120
It's pretty responsive for me.

Make sure you have an updated Superuser app. I'd recommend Chainfire's.

[2015-03-01 06:47] #120 closed

[2015-03-01 06:48] plusCubed commented on #120
Fixed.

[2015-03-02 13:51] th3m4ri0 commented on #102
Agree with haarp. I saw some applications in the past do the open source free / closed source premium. But again it's your choice. Keep up the good work :octocat:

[2015-03-04 05:38] #103 closed

[2015-03-04 22:37] CalH00 opened #121 "FAB - tapping once, then quickly tapping twice results in no file menu cover-up."
Yeah,the title is crap, but I just wanted to report a quick bug.
When tapping the FAB to expand it and then quickly tapping it twice, it results in the file menu not getting covered by that grey layer.
![screenshot_2015-03-04-23-31-46](https://cloud.githubusercontent.com/assets/7706853/6495073/10e41d28-c2c7-11e4-9b81-1e056dfa188f.png)

[2015-03-07 03:32] #98 closed

[2015-03-11 15:57] SgtChrischi commented on #1
I'd love to see SMB-Feature, too!

[2015-03-11 18:47] afollestad opened #122 "Resources#getDrawable() deprecated and replaced with a new variation"
https://plus.google.com/+AlanViverette/posts/YHy5drbz3oN

[2015-03-12 08:42] dvhien90 commented on #122
Used :
Utils.getResources(id);

[2015-03-12 18:12] arkon opened #123 "FAB sometimes covers list contents"
If the list has just enough items to fit on the screen without needing to scroll, the user cannot scroll to hide the FAB, and as such it remains on top of the last item.

Potential fix: have extra space at the bottom of the list similar to the Gmail app.

[2015-03-12 18:13] afollestad commented on #123
Yeah, I saw that a few days ago and tried making a fix but it's a bit more
complicated than I thought with the time I have aside from class at the
moment.

The padding at the bottom of the list needs to equal the height of the FAB
plus the top and bottom margin. You have to wait until it's drawn using a
Tree Observer, and get the FAB that's inside the FAB menu view.

On Thu, Mar 12, 2015 at 1:12 P

[2015-03-16 19:59] afollestad commented on #122
I don't think `Utils` is a class for this. I'll be using the new Compat method from the support library.

[2015-03-19 23:22] davidedellai commented on #1
You can read Google drive folders?? How??

[2015-03-19 23:22] afollestad commented on #1
Google Drive API.

Have you not used QuickPic?

[2015-03-19 23:29] #123 closed

[2015-03-19 23:41] afollestad commented on #75
@plusCubed I believe you implemented this stuff in the latest commits, right?

[2015-03-19 23:42] afollestad commented on #122
To be more specific: https://plus.google.com/+AlanViverette/posts/YHy5drbz3oN

[2015-03-19 23:48] plusCubed commented on #75
@afollestad Well, still partially. File size is fixed for these ghost files. Some other attributes like date modified still need to be implemented. I brought back `LsParser` for those attributes, just need to find a way to do it on a separate thread with the least number of `ls` commands (right now, temporarily, file size for these files is obtained by calling ls for each file).

[2015-03-20 01:40] afollestad commented on #121
I've been able to reproduce this once or twice but it's very hard to reproduce with regular use, lol

[2015-03-20 01:41] plusCubed opened #124 "Issues with new breadcrumbs system in Project WD40"
1. Search cannot be exited.
2. Back button currently just goes up a folder (intentional but meant to be temporary (forgot :P))
    Solution: keep a list of visited folders. Go up the chain when pressing back.

[2015-03-20 01:44] arkon commented on #121
Same, doesn't really seem like a huge issue to me.

[2015-03-20 01:45] afollestad commented on #121
Yeah, I'm gonna close this for now. Users who aren't purposely trying to find issues won't find this.

[2015-03-20 01:45] #121 closed

[2015-03-20 02:02] imcilwraith opened #125 "Navigation Drawer Icon Opacity"
The icons in the Navigation drawer should be 54% opacity and #000000 color - http://www.google.com/design/spec/patterns/navigation-drawer.html

[2015-03-20 08:37] davidedellai commented on #1
afollestad can we get in touch via hangout or something else please? I need your help to do this kind of thing. add me on google+ or send me an email please. dellai.davide@gmail.com

[2015-03-20 13:41] shubick22 opened #126 "Can't create a new folder in /system/app"
Hello there.  I have not been able to add a new folder in /system/app.  You can add a new file but adding a folder is a no-go.  Nexus 6, Android 5.1 Rooted Stock

[2015-03-20 23:20] geecko86 commented on #102
You licensed the program under the [X11 license](http://directory.fsf.org/wiki/License:X11) also known as the MIT license. Out of curiosity, don't you *have* to leave outdated versions of the code public?

I'd rather use that.

[2015-03-20 23:21] afollestad commented on #102
I don't think anything says I have to put my property out in the public if it previously was open source.

[2015-03-20 23:22] geecko86 commented on #102
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software

Well, I'd like to use this permission. This is how it was licensed to me and you can't just go back on your word.

[2015-03-21 02:50] plusCubed commented on #102
@geecko86 The key there is that you have the permission to use the a copy of the software as described, but it doesn't say that you have the right to obtain a copy of the software. If you have a copy of the source with the license, you may use it as said in the license. As long as Aidan has copyright on the software, he can change the license and is not required to provide a previous copy of the s

[2015-03-21 02:50] afollestad commented on #102
Most of which are out dated, or I already requested a takedown for.

[2015-03-25 23:10] afollestad opened #127 "Google Keep-like fade animation for FAB overlay"

[2015-03-25 23:17] afollestad commented on #127
Nevermind, this was requested but I forgot that we already have circular reveal.

[2015-03-25 23:17] #127 closed

[2015-03-28 11:04] nyuszika7h commented on #102
@afollestad What do you mean requested a takedown? You clearly don't understand how open source licenses work. Since you seem to be the sole copyright holder, you can choose to relicense future versions as you wish, but open source licenses like the MIT license **cannot be revoked**, meaning everyone is free to continue redistributing and modifying the versions that had their source code published

[2015-03-28 11:12] nyuszika7h commented on #102
@afollestad What do you mean requested a takedown? Open source licenses like the MIT license **cannot be revoked**. If you're the sole copyright holder, you can choose to grant any license to anyone you wish, or even stop licensing future versions and keep the source code your own IP. But you cannot revoke previously granted open source licenses, as none of them allow revocation, for a very good r

[2015-03-28 12:29] geecko86 commented on #102
Agreed. I understand that it's hard to swallow but it is your responsibility to keep your word. You really cannot do this.

[2015-03-28 15:38] afollestad commented on #102
I'm aware. If you find the old source, go ahead. Like I said, I don't keep copies of old source code around.

[2015-03-28 17:55] plusCubed commented on #102
Whoever has a fork is free to continue using it or distributing it - like you guys said, the license grants them the power to do so. Aidan is just requesting/asking them to take it down, not using legal action (I think takedown is the wrong word. Nobody has the legal rights to do so, like you guys said).

[2015-03-28 20:34] #125 closed

[2015-03-31 04:26] afollestad opened #128 "If action mode is started, back button should close it before going to the parent directory"

[2015-03-31 21:34] #128 closed

[2015-03-31 21:35] #122 closed

[2015-03-31 22:38] afollestad commented on #124
I solved the search issue by keeping search within the same active fragment it's started in.

[2015-03-31 22:51] afollestad commented on #124
Gonna close this in favor of separate issues

[2015-03-31 22:51] #124 closed

[2015-03-31 22:52] afollestad opened #129 "Search query should be held in bread crumbs"
So that the search state is saved when going back and forth between folders.

Extension of https://github.com/afollestad/cabinet-issue-tracker/issues/124.

[2015-03-31 22:52] afollestad opened #130 "History should be saved so back button doesn't just go to parent folders"
Extension of https://github.com/afollestad/cabinet-issue-tracker/issues/124

[2015-03-31 23:18] afollestad commented on #129
Should be done

[2015-03-31 23:18] #129 closed

[2015-04-01 00:57] #130 closed

[2015-04-01 00:57] #57 closed

[2015-04-01 01:05] #64 closed

[2015-04-01 01:05] afollestad commented on #30
Unnecessary?

[2015-04-01 01:05] #30 closed

[2015-04-01 07:33] rsmything opened #131 "Intent filters for selecting files doesn't work for some apps"
Hello,

You need to add the ability to select files in other applications using Cabinet. For example, now it is impossible to select the ringtone of the alarm as this can be done using [ES Explorer](https://play.google.com/store/apps/details?id=com.estrongs.android.pop).

[2015-04-01 12:48] afollestad commented on #131
You already can, e.g. in Gmail. Some apps don't support it correctly for some reason.

[2015-04-01 13:49] afollestad commented on #131
I updated the title to more accurately reflect what you mean.

[2015-04-01 15:26] shubhamkrm opened #132 "Cabinet text editor isn't able to save files in root/ext-storage directories"
I can create new files using Cabinet but when I try to write something into it using the Cabinet text editor, it doesn't allow me to save my work, and gives the following error: "superuser not available".

[2015-04-01 18:04] rsmything commented on #131
OK, thx

[2015-04-02 01:04] afollestad opened #133 "Switch to new FAB library"
https://github.com/Clans/FloatingActionButton

[2015-04-02 01:16] plusCubed commented on #133
Hmm... I'm not sure about this. I don't see some things I implemented in the cabinet one (elevation on touch, smooth hiding/showing, etc). I'll see if I can work on submitting a pull request or something for those.

[2015-04-02 01:16] afollestad commented on #133
Cool, sounds good

[2015-04-02 15:23] afollestad opened #134 "Sharing a file to Gmail adds the file's path to the recipient or subject line?"
Adding the other intent extras used for sending emails might fix this issue, apps that don't use those fields _should_ ignore them?

[2015-04-02 15:33] bugaevc commented on #132
I have this issue as well.
Cabinet Text Editor isn't able to save a text file even in internal storage for me giving the same error message.

[2015-04-02 23:24] afollestad commented on #131
Could you give an example of an app that doesn't let you select a file through Cabinet?

I can't and don't use custom ringtones on my Nexus 6.

[2015-04-02 23:28] afollestad commented on #134
Adding intent extras didn't fix the problem.

[2015-04-02 23:41] afollestad commented on #134
Fixed

[2015-04-02 23:41] #134 closed

[2015-04-02 23:45] afollestad commented on #131
This should be fixed but I don't have an easy way to test it.

[2015-04-02 23:58] afollestad opened #135 "MrVector causes an enormous amount of OutOfMemory exceptions"
130 users experienced crashes for the previous version

[2015-04-03 00:10] afollestad opened #136 "Switch back to using getLayoutPosition() and other RV methods once there's a less buggier version than 22.0.0"
https://github.com/afollestad/cabinet/commit/20a2d4d759c884d3d631447bf61db7bff65e99b5

[2015-04-03 01:55] plusCubed commented on #135
Hmm... switch to an SVG rendering library? I use one in my own app, and I haven't seen any issues so far, but with the amount of icons in Cabinet I'm not so sure. https://code.google.com/p/androidsvg/
Or perhaps one of the libraries that convert SVG to Java code, like this one: https://github.com/racsdragon/android-svg-code-render. I'm not so sure about this either since it will increase the execu

[2015-04-03 02:12] #126 closed

[2015-04-03 02:40] #132 closed

[2015-04-03 04:05] Keavon opened #137 "When doing a quick flick to scroll down, the floating action button temporarily hides itself momentarily"
When scrolling to the bottom quickly by flicking through a short list, floating action button hides itself momentarily before quickly reappearing when it reaches the bottom of the list. This is useful when you are manually dragging to the bottom of the list, but looks bad/distracting when it animates down and then reappears 100 milliseconds later. It should instead predict if the scroll will reach

[2015-04-03 04:06] afollestad commented on #137
That's not a bug, the FAB hides itself when you scroll down. When you scroll back up, or reach the space at the bottom of the list, it shows itself again.

[2015-04-03 04:09] Keavon commented on #137
This was intended as an enhancement, not a bug. If the scrolling action is going to reach the bottom with that scroll, the floating action button should not disappear and then immediately reappear once it hits the bottom because it acts as a distracting and unnecessary animation. When doing slow scrolling, this is useful for the button to hide itself, and when it reaches the bottom, it is useful f

[2015-04-03 04:10] afollestad commented on #137
Hmm, good point. I'm not sure if there's really any efficient or good way to do this, but I'll see what I can do.

[2015-04-03 04:11] plusCubed commented on #137
I'm not sure there's a way to predict fling position, but I suppose we can keep the FAB on screen while flinging, and hide if necessary when fling comes to stop. If the user keeps their finger on the screen while scrolling, hide/show as necessary.

[2015-04-03 04:23] Keavon commented on #137
I suppose it could be a rough prediction. Determine the velocity of the fling in the first few milliseconds and compare it to the size of the list. If it's a small list and it seems to have approximately sufficient velocity, it should keep the button open. The prediction can be adapted during the scroll if it appears it won't be reaching the bottom, the button can be hidden. If it does reach the b

[2015-04-03 04:25] afollestad commented on #137
That's just a lot of unnecessary calculation for a mobile app.

I think it would make more sense to never hide the FAB at all if there's only a certain amount of available space for scrolling.

[2015-04-03 04:27] Keavon commented on #137
Actually, that's a good point. If I was scrolling and needed to see something, I would just scroll up a little more so the button doesn't block it as long as I had enough screen space.

[2015-04-03 04:28] afollestad commented on #137
Well I mean it would still hide with longer lists, but with short lists where you reach the end almost immediately after scrolling (e.g. if the Y coordinate of the space at the bottom is near the last visible list item) then disable hiding.

[2015-04-03 04:29] Keavon commented on #137
Yep, that seems quite logical.

[2015-04-03 04:39] Keavon opened #138 "Add Movies to the sidebar and customization"
I love the DCIM, Download, Music, and Pictures buttons in the sidebar, but I'd also like to see Movies added to the list.

Also adding a setting to enable/disable some of those options would be useful so people with smaller screens who don't use some of those items can hide them.

Custom folders to pin to that list may be also something to consider.

Also, changing "Download" to "Downloads" would

[2015-04-03 04:50] Keavon opened #139 "Devices with physical menu button – wrong overflow dialog theme"
Using the phone's hardware menu key with the actions popup at the bottom works fine, but clicking Grid Size item makes its option appear behind the menu with white-on-white text. The menu is also too big, making it seem like there needs to be text other than the numbers in that space.

![Screenshot](https://cloud.githubusercontent.com/assets/4388688/6978181/1f0611fa-d982-11e4-8378-59d81db30c3e.png

[2015-04-03 05:14] afollestad commented on #138
The default ones are just the basics. You can add (Bookmark option on folders) or remove (long press bookmarks) your own.

[2015-04-03 05:14] #138 closed

[2015-04-03 05:15] Keavon commented on #138
Oh, I did not notice that those already existed. Already implemented, then!

[2015-04-03 05:16] afollestad commented on #139
This is actually an issue with some Samsung devices and other devices with a physical menu button (which is not what Google intended for the latest versions of Android).

It should look like this:

![screenshot_2015-04-03-00-14-53](https://cloud.githubusercontent.com/assets/1820165/6978354/920dac3a-d996-11e4-804b-2df80535987a.png)

There's some issues with how those devices that have physical menu

[2015-04-03 05:17] afollestad commented on #139
There was actually an issue for this on the old repository when Cabinet was open source but I never re-added it. I'll have to look into it again.

[2015-04-03 05:20] afollestad commented on #139
There was actually an issue for this on the old repository when Cabinet was open source but I never re-added it. I'll have to look into it again.

It isn't blank, the font is just white because it expects the dialog background to be dark (since the main app theme is light content with a dark, or blue in this case, toolbar).

[2015-04-03 05:20] Keavon commented on #139
It looks like your screenshot when I use the three dots menu. It would be ideal—if it's possible—to hook the physical menu button press event and make that menu manually appear near the bottom of the screen rather than using the variation that's done automatically by the OS.

[2015-04-03 05:20] afollestad commented on #139
Oddly enough, that is what's done on some devices. But others refuse to do it correctly for some reason.

[2015-04-03 05:21] afollestad commented on #139
That's what's done with the top level menus, but once you get into sub menus, it's all handled by the OS and there's no way to hook into those events. The only way is to find the right theming attributes that are used to theme the dialog that's shown there, but I've never really been successful.

There's actually a bug logged somewhere on the Android Open Source Project I believe.

[2015-04-03 05:23] Keavon commented on #139
If it helps to know my system, I'm using a Galaxy Note II running Android 4.4.4 with CyanogenMod 11.

[2015-04-03 05:24] afollestad commented on #139
I had a feeling it was a Samsung device.

But yeah, I'll see if I can find the source of the dialog theming there. But otherwise Samsung users might have to wait for a fix from Google or Samsung. Although it's very possible it was already fixed on Lollipop (5.0, 5.0.1, 5.0.2, or 5.1).

[2015-04-03 05:25] afollestad commented on #75
Just to log all relevant info, I believe this is related: https://plus.google.com/101876697001374390622/posts/BfBeUi7jETC

[2015-04-03 05:38] tunjos opened #140 "Play Audio files in background"
Aidan.sendRequest(audio.playinbackground);
while(Cabinet Beta == Background){
audio.play++;
}

[2015-04-03 05:40] rsmything commented on #131
In the Clock app(native android 5.1 app), when I want to change ringtone.

[2015-04-03 06:22] afollestad commented on #131
I don't get options for third party apps there, only built in Ringtones.
Cabinet can't be used there.

On Fri, Apr 3, 2015, 12:41 AM rsmything <notifications@github.com> wrote:

[2015-04-03 06:56] rsmything commented on #131
If ES Explorer is installed, then pressing the ringtone, the system offers a choice of applications to install ringtone^
![screenshot_2015-04-03-11-44-13](https://cloud.githubusercontent.com/assets/11719983/6979128/496dfb26-d9f8-11e4-9db1-4a7279e99193.png) ![screenshot_2015-04-03-11-44-18](https://cloud.githubusercontent.com/assets/11719983/6979129/4abc9c1c-d9f8-11e4-8e95-e01b4fdfa3c7.png)

[2015-04-03 23:29] LuisGan93 opened #141 "The app doesn't erase folders"
I have a Nexus 5 with 5.0.1 and when I want to erase a folder the app starts a infinite loading but don't erase the folder, I reinstall the app many times... This occurs me since the last update.

[2015-04-04 05:44] plusCubed commented on #141
Fixed.

[2015-04-04 05:44] #141 closed

[2015-04-04 08:23] philljoynes opened #142 "Unable to move to external sdcard"
When I try to move a file/s to the external sd Card, I get an error saying "Failed to rename/move this file: Unknown error".

 I am using android 5.0.2 temasek rom on Samsung Galaxy Note 3.

[2015-04-04 08:38] philljoynes commented on #142
I can copy the same files successfully.

[2015-04-04 08:45] philljoynes opened #143 "Ability to mount /system and RW"
It would be nice to have the ability to mount system as read write.

[2015-04-04 08:49] philljoynes opened #144 "SMB and NFS support"
It would be nice in the future to have smh and nfs support.

[2015-04-04 08:58] Vegownz opened #145 "Root "folders""
Some root folders on : /data/misc are shown as files, for example wifi folder.

[2015-04-04 13:23] afollestad commented on #144
#1

[2015-04-04 13:23] #144 closed

[2015-04-05 01:17] plusCubed commented on #145
Actually, this is more like an extension of #75. I've renamed that issue to better reflect everything it encompasses.

[2015-04-05 01:17] #145 closed

[2015-04-05 01:19] plusCubed commented on #143
Question: to do what? All file operations should mount and unmount system automatically. Do you have a specific bug where mounting is not working?

[2015-04-05 01:21] plusCubed commented on #140
Umm... do you mean to create an audio player? That's not what this project's for.

[2015-04-05 01:24] afollestad commented on #140
He means the same way Solid Explorer beta does it.  It is a nice feature, but it does seem a bit excessive for a file manager, when Android is built to allow apps to work together.

[2015-04-05 01:27] plusCubed commented on #140
@afollestad Yeah, that's what I meant to say - I don't think it's necessary when there are audio players out there (including Google Play Music, installed on every device by default).

[2015-04-05 01:30] afollestad commented on #140
Yeah, I agree

[2015-04-05 01:31] tunjos commented on #140
Yea. I see an internal audio player. But it shuts down when I leave its  context.
A way to have this running in the background would be nice.
Maybe a Service would do.
This could be useful for some files like voice recordings etc Not just music.

[2015-04-05 01:33] afollestad commented on #140
Hmm, good point. I'll leave this issue open.

[2015-04-05 01:34] plusCubed commented on #140
That "internal" audio player is actually just Google Play Music... I don't think there's any way to keep that in the background?

[2015-04-05 01:36] afollestad commented on #140
It is, Play Music shows it as a dialog unless you start it from within their app. I could see where a background-supported audio player could come in useful in some situations.

[2015-04-05 01:37] tunjos commented on #140
I get the point.I Just realized its Google Play Music.

[2015-04-05 05:40] philljoynes commented on #143
Hi Daniel,

I was not aware of this feature working in this way, that is brilliant.  I
am used to doing it manually in es file explorer, so wrongly assumed you
would do the same with Cabinet.  Sorry for wasting your time!

Phill

On Sun, 5 Apr 2015 2:19 am Daniel Ciao <notifications@github.com> wrote:

[2015-04-05 05:46] plusCubed commented on #143
@philljoynes No problem. If you have any specific folders or problems in your usage with the mounting, feel free to open another issue.

[2015-04-05 05:46] #143 closed

[2015-04-05 06:13] afollestad commented on #143
Yeah, I tried to make Cabinet as minimal as possible from the start so I avoided manual mount options.

[2015-04-05 07:08] philljoynes commented on #143
It it's far better that way. I guess I wrongly came in with a preconceived
way of doing it that meant I was confused.  Thanks for your great work!

On Sun, 5 Apr 2015 7:13 am Aidan Follestad <notifications@github.com> wrote:

[2015-04-05 18:23] plusCubed commented on #136
Related? I'll just put this here: https://code.google.com/p/android/issues/detail?id=162753

[2015-04-05 19:54] Techman- commented on #102
What a betrayal

[2015-04-05 19:56] afollestad commented on #102
Access to source for an app I've spent countless hours on for 2-3 years as
a high school and college student is a privilege, not a right.

On Sun, Apr 5, 2015, 2:54 PM Michael Hazell <notifications@github.com>
wrote:

[2015-04-05 19:57] Techman- commented on #102
I used to support this app, and even recommend (push) this to my friends. Then I hear that you just pull the source code out of nowhere, which honestly is one of the biggest douchbag moves a developer can make. Why are you making an asshole out of yourself?

[2015-04-05 20:06] afollestad commented on #102
I'm not. People were stealing my code and like being able to claim
something I've put a lot of work into. I haven't gotten any benefits from
when it was open source at all. Its future is better closed source.

On Sun, Apr 5, 2015, 2:57 PM Michael Hazell <notifications@github.com>
wrote:

[2015-04-05 20:06] afollestad commented on #102
Sorry, and I like*

On Sun, Apr 5, 2015, 3:06 PM Aidan Follestad <drummer.aidan@gmail.com>
wrote:

[2015-04-05 20:13] Techman- commented on #102
No, open source worked fine. That's not the issue. There is a seriously bad problem with your thought process. So instead of doing the proper thing about folks who are trying to parade around as you, you decide to show that you're the weaker man by pulling the source code? Man up and deal with problems the proper way. This also just shows me and everyone else how much of a rookie developer you are

[2015-04-05 20:24] haarp commented on #102
Please remain civil. Yeah, someone might not quite understand the point of open-sourcing their software, and may have made some poor decisions, but that doesn't mean we have to be abusive.

Aidan, what did you actually expect would happen? The ability to "steal" code is one of the main principles of open source. The situation you were in can happen, but unless the person forking your code does a b

[2015-04-05 21:31] afollestad commented on #102
I had made it open source because I was starting my first year of college
and thought the project would get contributions and benefit, which was not
the case.

Now that I'm getting job offers at Facebook and other big companies, and
want to intern at Google, I decided to reclaim my property since nothing
good came from open source. Daniel was the only main contributor so he
became a dev partner an

[2015-04-05 21:33] afollestad commented on #102
I stand by decisions. The only douche bag here is the ones who obviously
don't understand what it's like the be the dev of a very popular project
that has a lot of competitors. Boid for Twitter was similar when I was
working on that.

On Sun, Apr 5, 2015, 4:31 PM Aidan Follestad <drummer.aidan@gmail.com>
wrote:

[2015-04-05 22:22] nyuszika7h commented on #102
Not trying to convince you now, but for the record, using a license the GPL mitigates the "stealing your code" somewhat. Permissive licenses like the MIT license require attribution, but they allow other people to legally redistribute a proprietary version of your app, as long as it has attribution somewhere.

[2015-04-05 22:24] afollestad commented on #102
Like I said above, the code when that was the license is free to use.

On Sun, Apr 5, 2015, 5:22 PM nyuszika7h <notifications@github.com> wrote:

[2015-04-05 22:26] nyuszika7h commented on #102
How is that relevant to my comment?

[2015-04-05 22:26] afollestad commented on #102
The code after the point where it was removed is not. That's how it works.

On Sun, Apr 5, 2015, 5:24 PM Aidan Follestad <drummer.aidan@gmail.com>
wrote:

[2015-04-05 22:28] nyuszika7h commented on #102
I have a feeling we're talking about completely different things here. I was just saying that if you ever consider open source again (not necessarily for this project, can be any other one too), you may like the GPL better than permissive licenses.

[2015-04-05 22:29] afollestad commented on #102
Sorry, right now I want to keep it private. Theft was bad to the point
where someone forgot to remove their copied version from the crash
reporting system so I got an email saying an app with a different name,
package name, and icon was registered. Competitors were also beginning to
copy a few of my components.

On Sun, Apr 5, 2015, 5:28 PM nyuszika7h <notifications@github.com> wrote:

[2015-04-05 22:29] afollestad commented on #102
People are still gonna steal regardless of the license.

On Sun, Apr 5, 2015, 5:29 PM Aidan Follestad <drummer.aidan@gmail.com>
wrote:

[2015-04-05 22:44] nyuszika7h commented on #102
If they "steal" in a way that the license doesn't allow, there's always DMCA takedown.

[2015-04-05 23:24] afollestad commented on #102
Btw @Techman-, I'm almost 20 and I've been programming for almost 8 years. I'm self taught, employed as a software dev, and I've taken 5 CS classes (well skipped past 3, and taken 2). Watch who you're calling a noob, dumbass.

[2015-04-06 00:11] afollestad opened #146 "Dynamic theme colors for CheckBoxes in Toolbar sub menus"
In Material Dialogs, edit texts and other UI elements have dynamic colors set to match a widget theme color. This is done on API 21 and above using tint lists, e.g. RadioButton.setButtonTintList(ColorStateList.valueOf(color)). Below Lollipop, setColorFilter() is used on the respective view's drawable. The tint colors should match the user's theme accent color.

[2015-04-06 00:14] afollestad commented on #146
In the upcoming release of Material Dialogs, I mean, not the current.

[2015-04-06 00:53] geecko86 commented on #102
I'm sure you can see how saying that about public code is not very coherent..

want to intern at Google

That's very relevant. We don't care.

So you're actually saying changing the license was pointless?

Now, some of us *"thieves"* (free software & transparency advocates would be more like it) are willing to fork the code. Could you please inform us regarding *where* we can find the code, what t

[2015-04-06 00:56] afollestad commented on #102
Your attitude doesn't make me want to respond to you at all. It is relevant, it's one of a few reasons I decided to take my property back. It was my decision in the first place to start this project, I'm the one that spent 2 years slowly working on it, not any of you.

Find it yourself, I'm done arguing. Search GitHub for Cabinet.

[2015-04-06 00:57] afollestad commented on #102
The second result is an old repository that isn't up to date, but it's something.

https://github.com/search?utf8=%E2%9C%93&q=cabinet

[2015-04-06 01:16] geecko86 commented on #102
Alright, that's something. :)

It doesn't say under which license it was released. That's obviously the core issue. Could you answer that question? This is version 1.7.7, can I ask you what was the latest open source version of Cabinet?

After that we can say goodbye. Sad to see that discussing this matter bothered you so much.

PS: Security wise, [this](https://puu.sh/h313O.png) isn't very good p

[2015-04-06 01:24] plusCubed commented on #102
@geecko86 The point of open sourcing Cabinet was so people can contribute and make the software better, e.g. what you are saying with transparency. Creating "new" versions that are completely based on someone's code isn't. I'm sure there's a license out there that specify this in some form or another, but without time spent on legal issues and takedowns, it's basically the same as no license.

I s

[2015-04-06 01:25] plusCubed commented on #102
@geecko86 Actually, that post is directed towards everyone, not you. Sorry if that was misleading. I've removed the @ tag.

[2015-04-06 01:34] afollestad commented on #102
@geecko86 sorry I actually can't remember what license it was, I believe it was MIT though

[2015-04-06 01:49] geecko86 commented on #102
@plusCubed I am not arguing against making it close source. He can obviously make this decision and I don't tell people what to do. The only thing I'm here for is information regarding how I can fork this in the best possible way, not to tell people what to do.

I will also correct people when they make stuff up to fit their goals. Contrary to what you just said, copying and forking code is a comp

[2015-04-06 01:50] afollestad commented on #102
By stealing, I mean copying the code and republishing it under different
app names without any attribution AND after the license was taken away.

On Sun, Apr 5, 2015, 8:50 PM Guillaume <notifications@github.com> wrote:

[2015-04-06 01:55] Techman- commented on #102
This developer is so ignorant it is hilarious. I don't care how many years you claim was spent programming. What mattera is that you're still a rookie developer because you make rookie decisions. Your stats don't phase me. Nobody cares what you did (allegedly) since 12 years of age.

In my opinion, snatching back code that was previously open should be illegal. But the choice of license is what co

[2015-04-06 02:01] afollestad commented on #102
@Techman- allegedly? It's fact. I'm not ignorant, I know the facts and these are decisions I spent weeks thinking about.

I am owning up to it, all the comments above describe the reasoning behind it. It is not your decision, fucktard (sorry but if you're gonna try to put people down then I don't give a fuck about obscenity).

If you would've come in here with a better attitude in the first place,

[2015-04-06 02:03] plusCubed commented on #102
@geecko86 Thank you for pointing that out. Yes, I reflect what Aidan said - by copying I meant republishing. I agree that OSS should be allowed to be copied and fork - case in point, my own projects are open source, and I understand the consequences. In this particular case, Cabinet, Aidan's point of open sourcing didn't match up with the concept of open sourcing, and so it was changed - I believe

[2015-04-06 02:43] Techman- commented on #102
Pretty, pretty. About time you let your emotions flow through you. You wouldn't have changed your mind whether my approach was positive or not. Changing your decision now would make you look insecure (as if you wasn't already).

Call me what you want, but I haven't (nor would I) make rookie mistakes like these. Based on your comments from earlier, this looks like an action that didn't take weeks t

[2015-04-06 02:46] afollestad commented on #102
@Techman- like you would know. Being negative isn't the way to make friends or try to sway people into doing what you want.

They're not rookie mistakes, they're decisions of an experienced software developer who changed his mind because he thinks he made a mistake making it open source in the first place. Do you really want to see my code that badly? Make your own damn app, do you not know enough

[2015-04-06 02:54] plusCubed commented on #102
@ Everyone: In summary, if you want to use the code or any part of it, or if you want to see it's not malware, or if you want to know how some part is implemented, or if you want to make contributions, or anything else that's not outright robbery, please just ask through message or email with a good reason. We are not trying and we don't want to lock down the source, we are only trying to prevent

[2015-04-06 02:58] Techman- commented on #102
Very true. My intention wasn't to make friends or sway you back to open source. You think open source is pointless, so stick to your thoughts. I'm sure the open source community won't be missing you very much.

If I developed something for Android, it sure as hell wouldn't be a file manager. FX is already good and their price is reasonable. There are countless others on the Play Store that do the

[2015-04-06 03:00] afollestad commented on #102
Obviously not.

And I'm aware. This was an experiment that I started for Android Dev practice two years ago. I have other apps, some of which are under private testing, others which are done for personal clients, and others that are done for my employer. I don't really care what you think about the "file manager scene." People like Cabinet, so I will continue ti support it.

[2015-04-06 03:01] geecko86 commented on #102
@plusCubed Wouldn't it make more sense to use the proper means (aka takedown requests) to take care of that, though? Yes it would. And even if some manage to use your MIT code without citing your name, is it really that much trouble?

I agree that there's no use being so agressive, @Techman- . I agree that pride and self-righteousness have a part in this discussion, but it's not our place to tell

[2015-04-06 03:01] afollestad commented on #102
Now, unless you have something nice to say, go away. You're not making anything better here.

[2015-04-06 03:08] afollestad commented on #102
@Techman- also, why are you here in the first place if you wouldn't even develop a file manager? There's literally nothing you could use the source for.

Anyways, if you have nothing nice to say, go away. You're completely irrelevant if you're just gonna rip on people.

[2015-04-06 03:10] Techman- commented on #102
You want something nice? I've already said something nice about the app. I used to like it before I heard that you pulled this stunt.

I'd be interested in seeing what you could pull off as an IRC app, but then again you might pull another "reclaiming my property" move on everyone, if you decide to open source again. It's really not that hard to have open source software. Next time, pick a license

[2015-04-06 03:11] geecko86 commented on #102
A lot of people who don't code appreciate free software because of its nature. He's not complaining because he wants to contribute to the project, but rather because he is someone who doesn't like proprietary software.

Alright @Techman- , this is really out of topic now. You've made your point, he picked the wrong license and he already admitted that was a mistake.

[2015-04-06 03:14] afollestad commented on #102
I understand that, but I don't understand what led him here and made him
decide to start a very long and pointless argument. His point would've been
more effective if he didn't come across as an asshole.

Anyways, it's late here and I have to get up for college classes so I'm off
to bed. I'll respond to anything else tomorrow.

On Sun, Apr 5, 2015, 10:11 PM Guillaume <notifications@github.com> wro

[2015-04-06 03:16] afollestad commented on #102
One more thing, I'm also a fan of open source software. My servers use
Linux distributions, and I used desktop Linux distros for quite a while.
There's just some cases where proprietary software is better for its own
health in the community of apps.

On Sun, Apr 5, 2015, 10:14 PM Aidan Follestad <drummer.aidan@gmail.com>
wrote:

[2015-04-06 03:19] Techman- commented on #102
@geecko86 Yeah the IRC stuff is off topic. Too bad @afollestad doesn't have an IRC channel (Maybe I  might be able to help with that?)

[2015-04-06 03:21] geecko86 commented on #102
Problem is you haven't been very convincing in your explanation as to why it was better for your file manager to be close sourced.. Hence the genuine disappointment and the backlash.

[2015-04-06 03:22] plusCubed commented on #102
@geecko86 See the [Material Manager fiasco](https://plus.google.com/+AidanFollestad/posts/YeZ9Kasocnp) a few months back. It's just the complications with takedowns - writing them and constantly looking for republished software on the internet instead of working on improvements. There's also the problem of not being able to identify the republished ones (e.g. foreign language, different names, ico

[2015-04-06 03:30] geecko86 commented on #102
The G+ post is not public.. :/
So what was going on? People were removing the MIT disclaimer from Aidan's .java files on purpose and claiming it as their own? That's... disturbing.

[2015-04-06 03:49] plusCubed commented on #102
@geecko86 Oh, join the Cabinet Google+ community! So basically someone republished the app with some improvements but charged for some open source features of Cabinet (e.g. root access). The MIT license required the person using to distribute a copy of the license and a copyright notice, and after arguing a bit the developer added credit in the app, but later removed it because he claimed he had e

[2015-04-06 04:00] Techman- commented on #102
You should have not even tried negotiating with the developer. You should have sent a takedown request before the other dev had a chance to get away with it.

[2015-04-06 04:04] plusCubed commented on #102
@Techman- I didn't even know about Cabinet at that point yet lol. And yes, I believe Aidan and many users of Cabinet sent takedowns to Google but they didn't reply. Again, I wasn't involved yet at that point - Aidan can clarify later.

[2015-04-06 04:27] geecko86 commented on #102
I'll have a look when I get the time. Surely it's easy enough to decompile.

[2015-04-06 09:30] Keavon opened #147 "Change "Archive" to "Zip""
The "Archive" button is very confusing. I had no idea what it meant before I tested it out and found that it zipped the selected file(s). I thought it would do something like moving the file to some "archives" folder or something. I know zips are also called zip archives, but that's not at all intuitive, nor is the name useful. Anyone who would that feature will know what a zip is, and if they don

[2015-04-06 12:03] afollestad commented on #102
@geecko86 I wouldn't do that with the latest version. It's obfuscated. I will also have the right to legal action if you do. I have no problems with the MIT licensed code though.

[2015-04-06 12:04] afollestad commented on #102
Disregard, just woke up and didn't read everything yet.

[2015-04-06 17:09] ShabaDaba opened #148 "Moving files from OTG"
When I try to move a big file from my SanDisk Ultra Dual USB Drive (file bigger than 1gb)
the app freeze and crash in the middle of the process (there is no progress bar), when I tried moving the same file with the built-in file manager it worked properly.

[2015-04-06 18:41] afollestad commented on #131
Done

[2015-04-06 18:42] #131 closed

[2015-04-07 00:31] afollestad commented on #146
@plusCubed I was trying to find a solution for the checkboxes in menu items but couldn't find one.

Oddly enough, there's no direct way to get views inside of menu items. I tried looking into the classes to see if reflection could be used, but didn't see any related fields. Action Providers and Action Views only work for action items not in the overflow.

[2015-04-07 00:38] afollestad opened #149 "Very odd crash that's been common among almost every version, StackOverflow"
The access and onComplete loop continue on and on.

https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/5523175a5141dcfd8f5d37b8

[code]

[2015-04-07 00:40] afollestad opened #150 "Another very odd crash from Fabric.io (81 crashes from 23 users)"
Possibly an Xposed issue?

https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/5521d23a5141dcfd8f5ad027

[code]

[2015-04-07 00:41] afollestad opened #151 "One more odd crash from Fabric.io that effects users, but the log isn't specific"
There's no specific line number, but it keeps coming back with every version, and it's effected 11 users with 1.9.2.6.

https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/552230445141dcfd8f5b577c

[code]

[2015-04-07 00:42] afollestad commented on #135
Hmmm, still trying to brainstorm what would be best for this. It's obviously a very severe bug at this point.

[2015-04-07 06:28] plusCubed commented on #146
@afollestad I managed to get the ListView from the drop down menu using reflection on my Nexus 5 running 5.1 (haven't tested anywhere else). I'm going to sleep now - I've pushed the code if you want to finish it up (cycling through the views, finding the checkbox, tinting them).

[2015-04-07 09:01] technofreaky opened #152 "External SD card and USB pen drive support"
Please add support for external sdcard and USB pen drive

[2015-04-07 11:14] danielhickman opened #153 "Browser Upload Selecting Folders"
I am having this problem when uploading an APK to APKMirror. My app extractor extracts to a folder that I had to navigate to in the last version of Cabinet. In this version (1.9.2.7), it chooses the folder instead of navigating to it.

[2015-04-07 13:05] afollestad commented on #153
I already uploaded the update to APK Mirror last night but it didn't go out
yet lol.

I'll look at this later though.

On Tue, Apr 7, 2015, 6:14 AM Daniel Hickman <notifications@github.com>
wrote:

[2015-04-07 13:59] afollestad commented on #152
SD card support is already there, it doesn't work for everybody: https://github.com/afollestad/cabinet-issue-tracker/issues/114

Pen Drive support is the same as this: https://github.com/afollestad/cabinet-issue-tracker/issues/97

[2015-04-07 13:59] #152 closed

[2015-04-07 14:00] afollestad commented on #146
@plusCubed  wow, cool, didn't think it was possible at this point. Thanks, I'll do that in a bit.

[2015-04-07 16:13] rsmything opened #154 "You can not go to a folder to select an audio file"
when i tapped by folder^
![screenshot_2015-04-07-21-10-55](https://cloud.githubusercontent.com/assets/11719983/7027786/fdf90354-dd6a-11e4-9057-56f501e2f2c5.png)

[2015-04-07 16:23] ente3000 opened #155 "Changelog pop-up design fix (in text box)"
Background = dark grey, as around the log

[2015-04-07 16:24] afollestad commented on #155
This is dependent on what theme you're using in the settings.

[2015-04-07 16:24] afollestad commented on #154
I believe this is the same thing, if not related to https://github.com/afollestad/cabinet-issue-tracker/issues/153

[2015-04-07 16:39] afollestad commented on #153
Fixed

[2015-04-07 16:40] #153 closed

[2015-04-07 16:40] afollestad commented on #154
Fixed

[2015-04-07 16:40] #154 closed

[2015-04-07 16:41] afollestad commented on #155
The white part in there is an embedded web browser used to display an HTML changelog, that cannot be easily changed.

[2015-04-07 16:41] afollestad commented on #146
Done

[2015-04-07 17:03] arkon commented on #155
Could you use [`WebView.evaluateJavaScript`](http://developer.android.com/reference/android/webkit/WebView.html#evaluateJavascript(java.lang.String, android.webkit.ValueCallback<java.lang.String>)) to inject a simple style tag to make the background dark and all the text white?

[2015-04-07 17:04] afollestad commented on #155
It's probably possible, but not sure how much it supports for security reasons.

[2015-04-07 17:04] afollestad commented on #155
I guess it is a full fledged mini browser so it should in theory work.

[2015-04-07 17:05] afollestad commented on #155
I am loading from a local HTML file so I wonder if putting a style tag in that would work, I'll try it.

[2015-04-07 17:07] afollestad commented on #155
It works.

[2015-04-07 17:11] arkon commented on #155
Yay! :smile:

[2015-04-07 17:12] Jawnnypoo opened #156 "Issue with using app for choosing ringtone"
While Cabinet seems to support the MIME type for picking audio files, it does not allow the user to navigate through folders, stating "You must select an audio file" which restricts user to only selecting audio files in their immediate directory.

[2015-04-07 17:25] arkon commented on #156
#154

[2015-04-07 17:25] #156 closed

[2015-04-07 17:28] afollestad commented on #155
Done, in the code base for the next update.

Both themes will match the dialog background, and it will have better padding to look symmetrical with the dialog title.

[2015-04-07 17:28] #155 closed

[2015-04-07 17:39] afollestad commented on #150
This was related to that selector issue

[2015-04-07 17:39] #150 closed

[2015-04-07 17:58] afollestad commented on #149
Looks like it's not only copying, based on user reports

![screen shot 2015-04-07 at 12 57 52 pm](https://cloud.githubusercontent.com/assets/1820165/7029802/bf838986-dd25-11e4-8423-041739120573.png)

[2015-04-07 18:02] afollestad commented on #149
https://github.com/afollestad/cabinet/commit/d74329aae62912cc5ae51db402f4ae272ae00667 may or may not fix it, I can't be 100% sure because there's so many different user cases that caused this issue. I've never been able to reproduce it.

[2015-04-07 18:04] afollestad commented on #151
After digging deeper into Fabric's crash logs, into other threads that have logs not included in the one above:

![screen shot 2015-04-07 at 1 03 42 pm](https://cloud.githubusercontent.com/assets/1820165/7029932/97510f0a-dd26-11e4-85ff-620888a13042.png)

[2015-04-07 18:09] afollestad commented on #149
Will re-open if it occurs again

[2015-04-07 18:09] #149 closed

[2015-04-07 18:09] afollestad commented on #151
Will re-open it if occurs again

[2015-04-07 18:09] #151 closed

[2015-04-07 19:37] afollestad commented on #140
This is done for the next update

[2015-04-07 19:37] #140 closed

[2015-04-07 20:30] afollestad commented on #155
This is live in 1.9.2.8

It's on APK Mirror already: http://www.apkmirror.com/apk/aidan-follestad/cabinet/cabinet-1-9-2-8-2-android-apk-download/

[2015-04-07 20:30] afollestad commented on #153
This fix is live in 1.9.2.8

It's on APK Mirror already: http://www.apkmirror.com/apk/aidan-follestad/cabinet/cabinet-1-9-2-8-2-android-apk-download/

[2015-04-07 20:30] afollestad commented on #140
This is live in 1.9.2.8

It's on APK Mirror already: http://www.apkmirror.com/apk/aidan-follestad/cabinet/cabinet-1-9-2-8-2-android-apk-download/

[2015-04-07 20:34] arkon opened #157 "Links in dark changelog should be lighter"
The default blue colour for anchors in the changelog are hard to read/look at when it's using the dark dialog theme.

[2015-04-07 20:36] arkon commented on #146
The radio and checkboxes in the sorting and grid size menus aren't themed.

[2015-04-07 21:41] tunjos commented on #140
#Genius
Good Job.

[2015-04-07 21:43] afollestad opened #158 "Audio player should have a queue of audio files that come after the current one in its folder"
Also, clicking audio player notification should open the app and navigate to the folder the currently playing file is in.

[2015-04-07 22:09] afollestad commented on #157
Good catch

[2015-04-07 22:09] JacobMWilliams opened #159 "Action bar icons dark on dark instead of white on dark (Light theme)"
Droid Maxx, stock 4.4.4. It has capacitive nav keys if that matters.

[2015-04-07 22:09] #157 closed

[2015-04-07 22:11] afollestad commented on #146
This might be a bit harder because the fact that they aren't, means the callback we are currently using to perform reflection on the overflow menu's ListView, is not being called for sub menus.

[2015-04-07 22:53] danielhickman commented on #153
Thanks!

On Tue, Apr 7, 2015, 1:30 PM Aidan Follestad <notifications@github.com>
wrote:

[2015-04-07 23:40] afollestad commented on #158
Done

[2015-04-07 23:40] #158 closed

[2015-04-07 23:57] afollestad commented on #146
Actually, nevermind, the callback (`onMenuOpened()` in `MainActivity`) is still called for sub menus, but it's not quite as straightforward to get a hold of the list view inside that sub menu. Especially because sub menus get displayed as list dialogs (wrongly themed list dialogs at that: https://github.com/afollestad/cabinet-issue-tracker/issues/139) on older devices or Android versions.

[2015-04-08 00:03] afollestad commented on #137
This doesn't seem like a serious enough issue so I'm gonna close it to keep this repo minimal.

[2015-04-08 00:03] #137 closed

[2015-04-08 00:04] afollestad commented on #113
AFAIK, there's not really a good solution to this. A lot of apps use the same FAB library that we're using.

[2015-04-08 00:39] afollestad commented on #28
Unfortunately this would require too much modification. You can't do this with Android or AppCompat's SearchView, so you basically have to recreate the system Android uses to display a search UI within the toolbar to do this.

[2015-04-08 00:39] #28 closed

[2015-04-08 00:39] afollestad commented on #56
This no longer seems necessary since fonts are already fairly small

[2015-04-08 00:39] #56 closed

[2015-04-08 01:36] afollestad commented on #159
This really shouldn't be possible, the share and delete icons are both white images themselves. Very odd.

[2015-04-08 01:36] JacobMWilliams commented on #159
Are they PNGs with an alpha channel?

[2015-04-08 02:01] afollestad commented on #159
Nope, 100% opacity. It's odd that they work fine for me, the guy who helps out with dev, and lots of other people. This is a very rare case :o

[2015-04-08 11:37] onchu opened #160 "Fast scrolling"
Too many file managers are missing this feature. Imo, it is an absolute must handy tool to scroll folders containing thousands of pictures. Consider implementing it as it's really really essential.

[2015-04-08 14:13] afollestad commented on #160
Currently, this is not possible. Cabinet does not use ListViews, it uses RecyclerViews, which by default do not support fast scrolling (the thumb scroll thing).

[2015-04-08 14:33] afollestad opened #161 "Hide toolbar when scrolling down"
http://www.google.com/design/spec/patterns/scrolling-techniques.html#scrolling-techniques-scrolling

http://material-design.storage.googleapis.com/publish/material_v_3/material_ext_publish/0B969e8h0awhvUXFWNl8yemRVcXM/patterns_scrolling_tabs.webm

[2015-04-08 15:06] afollestad opened #162 "Setting to hide root shortcut"
Not everyone uses root access.

It should be hidden by default if they don't initially have root access?

[2015-04-08 15:06] afollestad commented on #162
@plusCubed do you think it would be better to have it enabled by default so no one complains that their root shortcut suddenly disappeared?

[2015-04-08 23:20] #162 closed

[2015-04-09 01:57] afollestad commented on #159
Reported as fixed via Google+

[2015-04-09 01:57] #159 closed

[2015-04-09 03:07] plusCubed opened #163 "Inbox by Gmail -like animations"
Expand list own going into a folder, same for going out

[2015-04-09 15:10] afollestad opened #164 "Odd issue with toolbar icon colors"
May be a color filter issue in onMenuOpened()?

https://plus.google.com/115203490271836611727/posts/8btLVfSgFxq

[2015-04-09 15:45] afollestad commented on #1
@plusCubed I thought of some cool stuff related to this issue for the future (bugs are obviously higher priority right now):

Cloud services can come as plugins that are separate installable apps. The main app will link to them if the user tries to add an account, while the plugin isn't installed.

Each plugin will contain an exported Service, the main app will be able to bind to that Service in o

[2015-04-09 15:49] afollestad commented on #1
We could probably use this to offload SD card and USB OTG support from the main app for people that don't need that anyways too. @plusCubed

[2015-04-09 17:12] afollestad commented on #135
This should solve the issue

https://github.com/afollestad/cabinet/commit/f31a760464424f36d34b679cadc59f5dbf8fdcd7

[2015-04-09 17:12] #135 closed

[2015-04-09 17:18] afollestad opened #165 "Organize preferences into categories like stock PreferenceActivity"
With tablet layout included

[2015-04-09 17:19] afollestad commented on #92
This is unnecessary

[2015-04-09 17:19] #92 closed

[2015-04-09 17:27] afollestad commented on #139
Even if I use an emulator to run Cabinet on 4.2 and 4.4, this issue does not come up. It's specific to Samsung devices unfortunately, and I don't think there's an easy fix. You should upgrade to 5.0 ASAP.

[2015-04-09 17:27] #139 closed

[2015-04-09 17:28] afollestad commented on #13
This is easier to do than I thought; in progress.

[2015-04-09 18:27] afollestad commented on #165
Not necessary for now

[2015-04-09 18:27] #165 closed

[2015-04-09 18:31] afollestad commented on #13
Pretty much done, just have to implement remote folders.

[2015-04-09 18:31] #13 closed

[2015-04-09 18:40] afollestad commented on #11
@plusCubed should we just close this? I don't think there's any solution I haven't tried that works to fix this for older API levels.

[2015-04-09 19:37] plusCubed commented on #11
@afollestad I think I *might've* found a solution. Don't close this just yet.

[2015-04-09 19:43] afollestad commented on #29
Done

[2015-04-09 19:43] #29 closed

[2015-04-09 19:48] afollestad commented on #11
Alright cool, everything else is basically ready for a release now

[2015-04-09 19:54] afollestad commented on #11
This is pretty similar but caused by something else: https://github.com/afollestad/cabinet-issue-tracker/issues/164

[2015-04-09 20:04] afollestad commented on #119
@t0phr does this still happen in the latest versions?

[2015-04-09 20:31] t0phr commented on #119
Nope, it's working great, thanks for fixing it!
On Apr 9, 2015 10:04 PM, Aidan Follestad <notifications@github.com> wrote:@t0phr does this still happen in the latest versions?

—Reply to this email directly or view it on GitHub.

[2015-04-09 20:32] #11 closed

[2015-04-10 04:16] plusCubed commented on #139
I can reproduce this with the Genymotion 4.x emulators (I don't think it has to do with Samsung since he's running Cyanogenmod - based on AOSP). Either way, I've changed it so pressing the menu button just opens the overflow menu now (avoiding the issue rather than fixing it - this might be a bit of an annoyance to those used to using the menu on the bottom).

[2015-04-10 04:16] plusCubed commented on #146
Done.

[2015-04-10 04:16] #146 closed

[2015-04-10 06:22] #164 closed

[2015-04-10 06:26] Keavon commented on #147
An [archive file](https://en.wikipedia.org/wiki/Archive_file) is not specifically a zip. There's also .rar, .tar, .7z, and [many others](https://en.wikipedia.org/wiki/List_of_archive_formats). Even if you were to ignore the fact that the current name is very confusing, it is a fact that it simply isn't specific enough. It could very easily create a rar file, which is nearly as popular as zip, and

[2015-04-10 12:39] afollestad opened #166 "A few report renaming not working"

[2015-04-10 13:00] pilophae commented on #119
This still doesn't work for me. My SSH-server advertises gssapi-with-mic support, which needs the `org.ietf.jgss` classes, which aren't bundled in Dalvik. Maybe https://github.com/cconlon/kerberos-java-gssapi could work as a replacement?

[2015-04-10 14:13] afollestad commented on #119
Hmm, I don't think that would quite help much. We don't deal with low level API stuff like that in our current code.

[2015-04-10 18:47] plusCubed commented on #160
This perhaps: https://github.com/danoz73/RecyclerViewFastScroller

[2015-04-10 18:54] afollestad opened #167 "Black text in audio notification for pre-v21"

[2015-04-10 21:55] plusCubed commented on #167
Fixed.

[2015-04-10 21:55] #167 closed

[2015-04-10 21:57] plusCubed commented on #41
Done, kind of. Need to implement recursive option when applying permissions (don't want it on all the time since folder permissions are separate from file permissions).

[2015-04-10 22:43] afollestad commented on #160
Oooh, cool

On Fri, Apr 10, 2015, 1:47 PM Daniel Ciao <notifications@github.com> wrote:

[2015-04-11 03:35] afollestad commented on #119
This should be fixed in the new update, hopefully, since Jsch got an update. Let me know if that's not the case.

[2015-04-11 04:54] plusCubed commented on #166
Fixed.

[2015-04-11 04:54] #166 closed

[2015-04-11 16:08] afollestad commented on #160
@plusCubed currently that library can't be used because it will override our scroll listener that's used to hide the FAB

[2015-04-11 16:51] pilophae commented on #119
Still the same crash, unfortunately. Jsch still uses the same classes.

[2015-04-11 18:21] jensck commented on #97
If it would help accelerate progress on this feature, I can donate a Leef Bridge so you have something to develop against.

[2015-04-11 19:25] hyl commented on #1
Like the sound of this, @afollestad! Would you make the plugin documentation publicly available so people can make their own plugins?

[2015-04-11 19:26] afollestad commented on #1
Yep! That's the plan

On Sat, Apr 11, 2015, 2:25 PM Jamie Hoyle <notifications@github.com> wrote:

[2015-04-11 19:28] hyl commented on #1
Awesome! :+1:

[2015-04-11 21:25] afollestad opened #168 "Nav drawer padding is messed up for tablets, and when the CAB is closed"
Tablets need more top padding in the navigation drawer list view on tablets, it's also reduced when the CAB is closed due to old padding setting logic.

[2015-04-12 05:18] #168 closed

[2015-04-12 06:02] plusCubed commented on #160
@afollestad Found a way around it: we just call the fast scroller scroll listener manually in our own scroll listener.

[2015-04-12 06:18] afollestad commented on #69
This may come in useful for TAR.GZ: http://stackoverflow.com/questions/315618/how-do-i-extract-a-tar-file-in-java/7534962#7534962

[2015-04-12 13:35] xmarteo commented on #119
@afollestad On my Nexus 5 with Android 5.1 and Cabinet 1.9.3.1, SFTP listing is working fine, as well as file moving, but file opening within SFTP loops indefinitely on a "Connecting..." overlay. Is that simply obviously a Jsch thing or should I submit an issue?

[2015-04-12 22:24] afollestad commented on #160
@plusCubed good idea.

Someone emailed me about a jump to bottom or jump to top option, I think this will resolve the need for that.

[2015-04-12 22:27] plusCubed commented on #160
@afollestad Yep, I think this will. I'm working on modifying the library to our needs - I really don't like the way the library is structured and implemented. The scrolling is not smooth at all and there are extra features we don't need.

[2015-04-12 22:28] afollestad commented on #160
@plusCubed awesome, looking forward to it.

[2015-04-12 22:34] afollestad commented on #133
I think this one is unnecessary for now

[2015-04-12 22:34] #133 closed

[2015-04-13 19:22] afollestad commented on #1
I've started the basic framework, it's working out very well so far.

[2015-04-13 19:22] afollestad commented on #1
![screen shot 2015-04-13 at 2 22 29 pm](https://cloud.githubusercontent.com/assets/1820165/7123559/8ec111ca-e1e8-11e4-8772-25d500ca77e5.png)

@plusCubed

[2015-04-13 19:26] afollestad commented on #1
E.g.:

![screen shot 2015-04-13 at 2 25 26 pm](https://cloud.githubusercontent.com/assets/1820165/7123607/f630bf36-e1e8-11e4-8190-d5c455ccab52.png)

@plusCubed you can see this in action if you clone the framework repository and run the sample in an emulator or on your phone.

[2015-04-13 19:37] afollestad commented on #113
Someone posted this on Google+:

![15 - 1](https://cloud.githubusercontent.com/assets/1820165/7123837/9560832e-e1ea-11e4-8450-59db99b71e25.png)

Re-opened the issue.

[2015-04-14 15:18] afollestad opened #169 "Weird crash issue that keeps reappearing with each version"
https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/552bb24d5141dcfd8f6fc979

If you look at threads near the bottom, it seems to happen after they perform a ZIP or UNZIP operation?

[2015-04-15 00:09] imcilwraith opened #170 "Change where version information is"
As per the new Material Design guidelines, (http://www.google.com/design/spec/patterns/settings.html#settings-flow-structure)

The version information should be placed under a help section-
Items that do not belong in Settings:
Contain information about the app, such as a version number
(Move these to a Help screen)

[2015-04-15 00:31] afollestad commented on #170
Good idea, fixed for the next update.

I moved the about dialog to a "Help & feedback" dialog and added some additional information there.

[2015-04-15 00:31] #170 closed

[2015-04-15 14:53] afollestad commented on #161
http://material-design.storage.googleapis.com/publish/material_v_3/material_ext_publish/0B969e8h0awhvUXFWNl8yemRVcXM/patterns_scrolling_tabs.webm

[2015-04-15 14:59] afollestad opened #171 "With latest code (not live), crash when opening a file that opens with the text editor"
For some reason the TextEditor is getting passed to the `reload(Context)` method of the nav drawer adapter which is being casted to MainActivity. Not sure how TextEditor comes into play there yet.

[2015-04-15 17:21] #171 closed

[2015-04-15 21:55] afollestad opened #172 "Tapping bread crumb of current folder should jump to the top"

[2015-04-15 21:56] afollestad opened #173 "Dragging down collapsed toolbar area should expand it"

[2015-04-15 22:49] afollestad commented on #173
No longer applies

[2015-04-15 22:49] #173 closed

[2015-04-15 23:12] #172 closed

[2015-04-15 23:20] afollestad opened #174 "Another weird crash that keeps appearing in every version"
https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/552d36cf5141dcfd8f735ebd

[2015-04-15 23:50] afollestad commented on #113
@plusCubed we could solve this by using a horizontal FAB menu, not sure if that library lets you easily switch between horizontal and vertical though. If it's a layout thing, we could have a separate `include`d layout for portrait/landscape.

[2015-04-15 23:54] plusCubed commented on #113
@afollestad I removed the horizontal menu when modifying the library (because I didn't want to deal with it :P). I think the easiest fix right now for larger devices would be to move the fab in front of the toolbar. I can work on re-adding the horizontal bar after I'm done with the fast scrolling.

[2015-04-16 00:16] afollestad commented on #113
@plusCubed oh yeah, good idea, sounds good

[2015-04-16 01:10] afollestad commented on #161
Basically done, need to fix scroll position persistence issues now

[2015-04-16 01:10] #161 closed

[2015-04-16 03:18] afollestad opened #175 "Issues with scroll position persistence in non-live version"
Toolbar hiding logic causes issues with scroll position saving.

E.g. when enabling or disabling bread crumbs ("Current Path"), or moving back and forth between crumbs.

[2015-04-16 06:16] plusCubed commented on #160
I pushed the code so far. There are still lots of bugs and issues (e.g. color, touch area, cannot be seen under toolbar, no code to hide it when not scrolling, etc), but it's working. I haven't seen any other app with an aesthetically pleasing smooth fast scroller (not jumping to the next item), so this is unique, though I'm not sure it's functionally better, now that I see it in action (it's a bi

[2015-04-16 14:55] afollestad commented on #160
@plusCubed looking good so far. I fixed it being under the toolbar by using a different hide algorithm that now applies padding to the RecyclerView and FastScroller as you scroll.

[2015-04-17 05:00] plusCubed commented on #160
@afollestad OK, I added hiding/showing the scrollbar, a few more changes to the color and height of the handle, and the scroll listener activation for the other components (FAB and toolbar hide/show). I believe everything should be done now (yay!). We can open new issues later if they come up.

[2015-04-17 05:00] #160 closed

[2015-04-17 06:33] Vegownz opened #176 "Changelog popup"
When you start the new version of the program, you get a changelog popup. If you go back and run the program again, you get another changelog popup over the previous one, etc.

[2015-04-17 11:43] BioHaZard1 opened #177 "Toolbar collapsed when opening Zip Archives"
Scroll up slowly to collapse the Toolbar, with the Toolbar collapsed enter a Zip Archive. You'll notice the Toolbar is still collapsed.

Should be a simple fix, its not a big issue.

[2015-04-17 12:32] afollestad commented on #176
Already fixed

[2015-04-17 12:32] #176 closed

[2015-04-17 14:39] afollestad commented on #177
Fixed

[2015-04-17 14:39] #177 closed

[2015-04-17 14:48] afollestad opened #178 "Fast scroller is blowing up the LogCat :o"
![screen shot 2015-04-17 at 9 48 00 am](https://cloud.githubusercontent.com/assets/1820165/7204336/e58d8352-e4e6-11e4-9dc9-468f52ac4b8a.png)

[2015-04-18 22:27] plusCubed commented on #178
Should be fixed.

[2015-04-18 22:27] #178 closed

[2015-04-19 02:28] afollestad opened #179 "Fast scroller crashes from Fabric.io"
https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/5534e10f5141dcfd8f847269

[code]

https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/5535b3b65141dcfd8f865568

[code]

https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/5535b3b65141dcfd8f865568

[code]

[2015-04-19 02:38] afollestad commented on #119
Closing this in favor of another issue.

[2015-04-19 02:38] #119 closed

[2015-04-19 02:39] afollestad opened #180 "SFTP crash with servers that use GSSAPI"
https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/552f12c45141dcfd8f77da28

GSS files are missing from Android, it looks like a library dependency is needed. We use JZip for Jsch's compression component, which clears up some warnings, but the crashes and warnings for this one still exist.

[2015-04-19 17:47] afollestad commented on #179
Any idea what would cause this @plusCubed?

[2015-04-19 17:50] afollestad commented on #119
Replaced with https://github.com/afollestad/cabinet-issue-tracker/issues/180

[2015-04-20 03:47] plusCubed commented on #179
@afollestad Attempt to fix it in afollestad/cabinet@fb350712bf57bf54a01f18db0b4f024fcbdde4f6. I don't know why a null background would cause problems, but let's see if this does the trick.

[2015-04-20 04:25] afollestad commented on #179
Cool, thanks, we'll see

[2015-04-20 04:25] afollestad opened #181 "Finish plugin framework"
An SFTP plugin will be initially featured.

[2015-04-20 14:07] afollestad commented on #179
It appears it's still there lol:

https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/5534e10f5141dcfd8f847269

Another issue showed up too, very weird:

https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/5534c7325141dcfd8f8439fc

[2015-04-20 14:07] afollestad commented on #179
It also appears it happened to one user with the bread crumbs :o

https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/5533f4255141dcfd8f82d344

[2015-04-20 16:28] Vegownz commented on #176
Well, bug is still there for the version 1.9.4.0-dev3. (You have to go back, by pressing the HOME button, and then run the app)

[2015-04-20 21:57] afollestad commented on #176
Officially fixed now

[2015-04-21 04:23] afollestad opened #182 "Unable to select last item in lists"

[2015-04-21 04:25] plusCubed commented on #182
I just fixed it in afollestad/cabinet@f579aa818e22f937711faf1df4841ff32be1d92d (I think).

[2015-04-21 04:27] afollestad commented on #182
Oh cool, that looks like it should do the trick, thanks

[2015-04-21 04:27] #182 closed

[2015-04-21 19:24] afollestad commented on #179
Updated the original comment in this issue to show the current issues and their stack traces.

[2015-04-21 19:29] afollestad commented on #119
Again, make sure you see that new issue for further details. You can subscribe to it to get notified of any changes.

However, I may've found a solution, let me know if the crashes stop in the next update. If you're not in the beta channel, make sure you are: https://plus.google.com/+AidanFollestad/posts/gFLYYWVvvSD

[2015-04-21 19:44] afollestad commented on #179
These should hopefully be fixed now with the latest commits.

[2015-04-21 22:10] afollestad opened #183 "DrawableCompat from updated Google libraries now supports backwards compatible tint lists"
MDTintHelper is no longer needed

[2015-04-22 03:44] plusCubed commented on #136
We've switched to v22.1.0, but the Google Code issue still says FutureRelease. I wonder if they just haven't updated their page yet. Should we close this issue and just keep an eye on it?
(https://code.google.com/p/android/issues/detail?id=162753)

[2015-04-22 20:57] #183 closed

[2015-04-22 21:56] #136 closed

[2015-04-22 22:56] afollestad commented on #179
Re-opening cause they're still there unfortunately

[2015-04-22 23:55] plusCubed commented on #179
Found the cause (dynamic attributes on <5.0). Should be fixed in afollestad/cabinet@fdb261927c9df5b2c86088d1bafab1b7770ebdca.

[2015-04-22 23:55] #179 closed

[2015-04-22 23:56] afollestad commented on #179
Sweet, thanks!

[2015-04-23 00:38] victoraccete opened #184 "Failing to share audio files via Whatsapp"
When trying to share an audio file via WhatsApp, it just doesn't send it. It doesn't crash, doesn't display any error message, doesn't close the app. It like acts like I've opened the WhatsApp.

[2015-04-23 00:40] afollestad commented on #184
Well that means WhatsApp isn't designed to receive share intents correctly like every other app.

But I'll look into it.

[2015-04-23 00:41] plusCubed opened #185 "Overflow menu/submenus checkbox/radio button tinting gone"
due to AppCompat update I suspect

[2015-04-23 00:58] #184 closed

[2015-04-26 05:02] JMurph2015 opened #186 "Add SD support via Storage Access Framework"
If this were implemented, Cabinet would be the only file manager I need.

http://stackoverflow.com/questions/26744842/how-to-use-the-new-sd-card-access-api-presented-for-lollipop

[2015-04-26 16:49] kelvinalfaro opened #187 "Epub uploads"
When selecting an epub file, cabinet will allow the selection of the app to opened. However, upon selection of Google play books, nothing happens. Other apps will trigger Google play books to upload the file.

[2015-04-26 16:50] kelvinalfaro opened #188 "PDF files"
Pdf files cause the app to close with out error.

[2015-04-26 18:12] afollestad commented on #188
No issues whatsoever on my end

[2015-04-26 18:12] #188 closed

[2015-04-26 18:13] #180 closed

[2015-04-26 18:33] afollestad commented on #178
It still happens a little

[2015-04-26 18:50] afollestad commented on #185
It appears `onMenuOpened` is not getting invoked anymore

[2015-04-26 18:59] afollestad commented on #187
Fixed

[2015-04-26 18:59] #187 closed

[2015-04-26 19:04] afollestad commented on #142
This will be resolved once https://github.com/afollestad/cabinet-issue-tracker/issues/186 is done

[2015-04-26 19:04] #142 closed

[2015-04-26 19:04] afollestad commented on #114
This will be resolved by https://github.com/afollestad/cabinet-issue-tracker/issues/186 when it's done

[2015-04-26 19:04] #114 closed

[2015-04-26 19:05] afollestad commented on #97
Once the plugin framework is done USB OTG support will probably come with a plugin

[2015-04-26 19:05] #97 closed

[2015-04-26 19:30] afollestad commented on #2
This doesn't really seem necessary

[2015-04-26 19:30] #2 closed

[2015-04-26 19:30] afollestad commented on #1
This issue was replaced with https://github.com/afollestad/cabinet-issue-tracker/issues/181

[2015-04-26 19:30] #1 closed

[2015-04-26 19:38] afollestad opened #189 "Issues with animated app bar covering list items"
If you have the app bar collapsed, then navigate into a subfolder that has scrollable contents, the app bar will expand and cover the first item in the list.

The same happens going in the opposite direction sometimes too.

[2015-04-27 02:11] afollestad opened #190 "When going from a grid size > 1 to = 1 on a phone, wrong list item layout is recycled"

[2015-04-27 02:17] plusCubed opened #191 "List item animations sometimes not shown"
AppCompat 22.1's RecyclerView seems to be more efficient in recycling views by just keeping some around, so the animation (which relies on knowing whether a view is newly created) doesn't show a lot of the time.

[2015-04-27 09:11] git-commit opened #192 "File Filtering is case-sensitive"
When using the FILTER menu option and entering e.g. `.Jpg` (Some keyboards do automatic CamelCase) no files are found since the matching seems to be case-sensitive.

Even tough the Linux filesystem is generally case-sensitive, it would be nice to see the filtering work case-insensitive to be more convenient for users.

[2015-04-27 19:32] afollestad commented on #192
Part of the issue was the input dialog's input type telling keyboards to capitalize words, keyboards that don't currently do so are not following standards.

But I will have this issue fixed in the next update, thanks.

[2015-04-27 19:32] #192 closed

[2015-04-27 19:33] afollestad opened #193 "Enabling or disabling filter doesn't invalidate the expanded/collapsed app bar padding"

[2015-04-27 19:36] afollestad commented on #169
Any ideas for this @plusCubed?

[2015-04-27 19:36] afollestad commented on #174
Or this? @plusCubed

[2015-04-27 19:48] #193 closed

[2015-04-27 19:53] #190 closed

[2015-04-28 16:16] Vegownz commented on #41
Test

[2015-04-28 23:25] plusCubed commented on #174
Seems like a recursion problem, I'll take a look.

[2015-04-29 00:34] plusCubed commented on #191
Fixed.

[2015-04-29 00:34] #191 closed

[2015-04-29 02:05] afollestad commented on #174
I thought so too, but the top of the log is related to fixSlashes (in java.io.File); a Google search brought me to a page that said that means null was passed as a path to a File.

But I catch the exception (in File.toJavaFile()) and it still happens. So I haven't been able to get to the bottom of it.

[2015-04-29 02:32] afollestad opened #194 "When the fast scroll track is visible (not animated out), its touch target covers the file menus"

[2015-04-29 02:34] plusCubed commented on #194
Intentional for minimum touch target of 48dp, though I suppose it could be made clearer that it covers the file menu (I'm not sure making it 48dp wide would look good though)

[2015-04-29 02:37] afollestad commented on #194
Oh right, I see. That might not be the most intuitive things to a lot of users, cause of the few-second delay that it takes for the fast scroller to hide itself after the user stops scrolling.

[2015-04-29 02:39] afollestad commented on #189
This is a bit difficult to solve, we need to keep the user's scroll position as the app bar expands or collapses. However, we can't assume the list should stay at position 0, since the fragment might have a saved scroll position from a previous state.

[2015-04-29 14:14] afollestad commented on #174
It's definitely stack overflow issues with `LocalFileUtils`. Another separate error just showed up:

https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/553ecf5c5141dcfd8f993675

[2015-04-29 14:18] afollestad commented on #174
@plusCubed I think it's because `getFileCount`'s callback loops back to itself

![screen shot 2015-04-29 at 9 16 55 am](https://cloud.githubusercontent.com/assets/1820165/7392950/abf6f010-ee50-11e4-97d3-b44fc4102df1.png)

[2015-04-29 14:20] afollestad commented on #174
@plusCubed I think it's because `getFileCount`'s callback loops back to itself

![screen shot 2015-04-29 at 9 18 26 am](https://cloud.githubusercontent.com/assets/1820165/7392991/e76b9632-ee50-11e4-8d6b-cc60b6be17a3.png)

[2015-04-29 14:32] afollestad commented on #174
I think this is related to the other issue.

I'm gonna move LocalFileUtils away from recursion, I know from my Data Structures (algorithms) class that recursion should generally be avoided. Especially when a directory structure can get so big.

[2015-04-29 14:34] afollestad commented on #174
Scratch that, some recursion will be needed. But I'm gonna reduce it a bit.

[2015-04-29 14:44] afollestad commented on #174
This should hopefully be fixed now

[2015-04-29 14:44] #174 closed

[2015-04-29 14:44] afollestad commented on #169
This should hopefully be fixed now

[2015-04-29 14:44] #169 closed

[2015-04-29 14:49] afollestad commented on #185
This is 1 of 2 things to fix before 1.9.4.0 is going public.

[2015-04-29 14:49] afollestad commented on #189
This is 2 of 2 things to fix before 1.9.4.0 is going public.

[2015-04-29 14:50] afollestad commented on #175
I think this is basically the same as https://github.com/afollestad/cabinet-issue-tracker/issues/189.

[2015-04-29 14:50] #175 closed

[2015-04-29 14:58] afollestad commented on #185
I actually assigned milestones to every issue to set target release versions.

[2015-05-01 06:05] plusCubed commented on #189
I fixed #175, but in trying to solve this bug I think I have a better solution for both. I should be able to fix these by tomorrow.

[2015-05-01 15:43] alexsmithfanning opened #195 "Pull down to refresh for plugin folders?"
The one similar to Inbox. Or even the one like in Google Now (the horizontal colored bars) to make it easier to refresh the file listing.

[2015-05-02 03:14] afollestad commented on #195
Well, this isn't really necessary for most folders since contents are refreshed everytime a folder comes into view again. It's unlikely you'd most people would need to refresh what their currently viewing, files don't tend to change in the background.

[2015-05-02 03:15] afollestad commented on #195
Well, this isn't really necessary for most folders since contents are refreshed everytime a folder comes into view again. It's unlikely most people would need to refresh what they're currently viewing, files don't tend to change in the background.

[2015-05-02 05:23] plusCubed commented on #185
Fixed.

[2015-05-02 05:23] #185 closed

[2015-05-02 06:21] afollestad commented on #189
Appears to be fixed

[2015-05-02 06:21] #189 closed

[2015-05-02 09:02] richarddd opened #196 "Remove name ellipsis truncation "..." or add an option to remove it."
This file browser is the prettiest and most useful view ever had. However, when viewing files in a grid, the file name is ellipsised with "..." which makes it harder to know the file name.

Other file managers such as Es File explorer does not ellipsis the filenames :)

Thank you. Btw, I've supported your development with a few $ :+1:

[2015-05-02 10:30] LordVader197 opened #197 "Option to change divider color and thumbnails"
Missing option to change divider color and thumbnails for pictures and videos are square when they should be circular

[2015-05-02 14:49] afollestad commented on #197
That isn't really necessary in my opinion.

Also, there's nothing that says they should be. Some people just like it that way.

[2015-05-02 14:49] #197 closed

[2015-05-02 19:28] afollestad commented on #196
It can't be completely removed, otherwise the user wouldn't know there's more text after where it gets clipped.

However I will increase the file title while in grid mode to a max of two lines which should help improve the experience there.

And thank you!

[2015-05-02 19:28] #196 closed

[2015-05-02 19:29] afollestad opened #198 "Improve memory usage of the text editor"
There is lots of out of memory exceptions associated with the text editor.

Maybe there's a way to only load parts of a large text file at a time as you scroll?

[2015-05-03 12:43] ziekke opened #199 "SMB support"
Are there plans to include this?

[2015-05-03 16:38] afollestad commented on #199
This is a duplicate of another issue

[2015-05-03 16:38] #199 closed

[2015-05-03 20:49] plusCubed commented on #178
Completely fixed now.

[2015-05-04 17:23] afollestad opened #200 "Issue with wrong-colored CAB icons is still there, the CAB title also needs more padding"
Someone posted this to Google+.

![15 - 1](https://cloud.githubusercontent.com/assets/1820165/7458216/4ee345c0-f258-11e4-9438-93b8b5a9f76b.png)

A solution might be to stop using the stock CAB and switch to using a different toolbar menu for selection mode. That'd obviously be a bit complex, but it would allow use of the primary theme color and an aligned title and stuff.

[2015-05-04 18:17] afollestad commented on #200
I'm making a small library for a custom CAB implementation now.

[2015-05-04 21:30] afollestad commented on #200
@plusCubed the result of my new library we're using, just so you're aware:

![screen shot 2015-05-04 at 4 30 03 pm](https://cloud.githubusercontent.com/assets/1820165/7462918/e41bf5a2-f27a-11e4-9039-48572bbd3db9.png)

[2015-05-04 21:30] #200 closed

[2015-05-04 22:15] afollestad opened #201 "Switch the folder/file icons to circular versions"

[2015-05-04 22:54] afollestad commented on #201
Actually nevermind

[2015-05-04 22:54] #201 closed

[2015-05-05 00:23] afollestad commented on #69
I'm gonna use this: http://rauschig.org/jarchivelib/examples.html

[2015-05-05 03:11] afollestad commented on #69
ZIP, TAR, and TAR.GZ files are all viewable. 7z and JAR files can be auto-extracted. RAR not supported.

[2015-05-05 03:11] #69 closed

[2015-05-05 03:46] afollestad opened #202 "Small issue to fix with archive creator"
![screen shot 2015-05-04 at 10 45 14 pm](https://cloud.githubusercontent.com/assets/1820165/7466764/4eed4b90-f2af-11e4-81a9-896218e462c7.png)

It must be getting a weird name for that file during archive creation, probably due to the double extension.

[2015-05-05 17:12] afollestad commented on #202
This happens when you create an archive from a folder in /storage/emulated/0, the folder '0' is not long enough to be a prefix for a temp file created by the archive lib.

[2015-05-05 17:15] afollestad opened #203 "Switch to Glide for image loading"
Ion causes lag, however we still need to load APK icon previews.

[2015-05-05 17:19] afollestad commented on #203
Not sure how Glide handles custom loaders yet. It's kind of complex.

[2015-05-05 17:21] afollestad commented on #203
Note to self.

`load()` takes a custom parameter. When you pass a custom class, it says this:

You must provide a Model of a type for which there is a registered ModelLoader, if you are using a custom model, you must first call Glide#register with a ModelLoaderFactory for your custom model class.

[2015-05-05 18:54] #203 closed

[2015-05-05 19:01] afollestad commented on #194
@plusCubed maybe there's a way to hide the fast scroll bar when the user taps (rather than dragging)?

[2015-05-05 19:52] afollestad commented on #202
Solving with reflection to mimic what private methods do, but change around a bit

[2015-05-05 19:58] #202 closed

[2015-05-06 00:55] afollestad opened #204 "When white is used as the accent color, the FAB icons in selection mode are invisible"
Black color filter used for '+' icon, but not the when a CAB mode is active.

[2015-05-06 01:35] afollestad commented on #204
Fixed

[2015-05-06 01:35] #204 closed

[2015-05-06 03:50] afollestad commented on #186
Closing this in favor of another issue

[2015-05-06 03:50] #186 closed

[2015-05-06 03:51] afollestad opened #205 "Re-design how file listing works"
The custom file classes use too many nested callbacks and have gotten too messy.

I need to start over fresh and redesign how they work.

I also need a separate Fragment type dedicated to `DocumentFile` classes, doing a linear loop conversion of DocumentFile objects to a wrapper class is too intensive and slows things down.

[2015-05-06 04:03] afollestad commented on #205
The nav drawer has also gotten messy and the code for storage and retrieval of persistent and non-persistent items needs to be changed to using content providers and cleaner code.

[2015-05-06 14:45] afollestad opened #206 "The navigation drawer's process of loading, storing, and displaying items/bookmarks is being redone"

[2015-05-06 15:34] afollestad opened #207 "APK thumbnail issues with new Glide implementation"
All APK files show the same icon.

[2015-05-06 18:49] afollestad commented on #205
Done, it stores, loads, and displays nav drawer shortcuts differently. The adapter code is much cleaner and doesn't require re-adding main/non-main items. It also uses a content provider for storage so it'll be much faster with get/add/remove/update operations (SQL uses special tree structures so it's not doing linear or worse operations anymore).

[2015-05-06 18:49] afollestad commented on #205
Oops, wrong issue

[2015-05-06 18:50] afollestad commented on #206
Done, it stores, loads, and displays nav drawer shortcuts differently. The adapter code is much cleaner and doesn't require re-adding main/non-main items. It also uses a content provider for storage so it'll be much faster with get/add/remove/update operations (SQL uses special tree structures so it's not doing linear or worse operations anymore).

[2015-05-06 18:50] #206 closed

[2015-05-06 19:02] afollestad commented on #205
I'm thinking we should be using separate sub-fragments for each type of file (e.g. local, document tree, cloud, plugin). The parent class should make common things re-usable. But we need to use less callbacks in the `File` interface, it's become slow and a lot of Fabric.io bugs come out of hard-to-track crashes in the callbacks (e.g. null pointers).

[2015-05-06 19:21] afollestad opened #208 "Finish the SFTP plugin"
A way to auto upload file changes (e.g. in the text editor) is also needed.

[2015-05-06 19:42] afollestad opened #209 "Finish up the Plugin Framework"

[2015-05-06 21:40] afollestad opened #210 "Re-implement root access"
People also report root deletion not persisting after reboot.

[2015-05-06 21:54] afollestad commented on #207
Can't reproduce anymore

[2015-05-06 21:54] #207 closed

[2015-05-06 22:48] afollestad commented on #205
Done for the most part, there might be a few more changes to improve SD card access speed on Lollipop

[2015-05-06 22:48] #205 closed

[2015-05-07 00:44] afollestad commented on #208
The plugin framework will allow meta data to be included in the manifest that enables an option to be added to the FAB menu for the plugin.

[2015-05-07 00:48] afollestad commented on #181
https://github.com/afollestad/aidl-example

[2015-05-07 01:56] afollestad opened #211 "SD Card files (Lollipop) needs to be openable in the archive viewer (successfully), listFiles() needs to be sped up and it needs to respect the FileFilter"

[2015-05-07 19:47] afollestad commented on #113
I'm gonna consider this fixed for now.

[2015-05-07 19:47] #113 closed

[2015-05-07 20:22] jonaspacheco opened #212 "App doesn't really delete files"
Everytime, even after quitting e reopening, restarting the phone, when I delete files they seemed to be gone, but when I plug the device to the computer and browse through the file explorer they are still there and need to be deleted again.

[2015-05-07 20:22] afollestad commented on #212
I'm assuming you're talking about root, root is being redesigned at the moment.

[2015-05-07 20:22] #212 closed

[2015-05-07 20:28] afollestad commented on #198
It's about as optimized as it can be with the latest code, I think we just need to show a dialog when the text editor isn't capable of reading a file. I'm guessing it's for files that are unusually large, e.g. an old log file.

[2015-05-08 01:24] jonaspacheco commented on #212
it doesn't delete files from my downloads folder. is this a root routine?
if it is, OK. thanks for the quick reply.
 Em 07/05/2015 17:22, "Aidan Follestad" <notifications@github.com> escreveu:

[2015-05-08 01:25] afollestad commented on #212
If it's in your internal storage, there should be no issue. It works fine
for me and no one else has reported any issues.

If you're talking about an SD Card or files not in internal storage then
it's most likely related to root access.

On Thu, May 7, 2015, 8:24 PM jonaspacheco <notifications@github.com> wrote:

[2015-05-08 11:43] jonaspacheco commented on #212
sorry, i don't know if i can help this far. i'm new to Android.

what i know... it's the internal storage. it's a moto x 2014. it doesn't
have external storage option.

I didn't rooted the phone. what happened was inside the default downloads
folder. I deleted the files and when I plugged the device on my to transfer
some music, the files were still there.

I can take screenshots or something to t

[2015-05-09 12:40] orajwade opened #213 "Playing a track using cabinet audio preview creates an unplayable,non removable clone in music players"

[2015-05-09 12:45] #213 closed

[2015-05-09 15:15] sbarekar44 opened #214 "can not move /cut"
i am using moto E 4G LTE Model And android 5.0.2 version

while iam can not cut or move items from ext sd card to phone sd card  plz fix the issue

[2015-05-09 15:20] afollestad commented on #214
Official SD card support is not done yet.

[2015-05-09 15:20] #214 closed

[2015-05-10 05:59] plusCubed opened #215 "Use SortedList for RecyclerView file listing"
This will make updating the list with new info much easier (e.g. first run of `ls` to get file names, second run of `ls -l` to get detailed info such as file sizes). Also the animations will be taken care of, so that's nice.

Noting these resources for myself while I work on this:
Official demo
https://github.com/android/platform_development/blob/master/samples/Support7Demos/src/com/example/androi

[2015-05-11 02:47] brwolfgang opened #216 "Save files to SD Card when shared from apps"
Hi there!
ES File Explorer provides a way to save a file directly to the SD card via "ES Save to...." option in the share menu. It would be great if Cabinet did the same!
Here's how it looks:
![ES Save to... example](https://cloud.githubusercontent.com/assets/3627736/7557798/cbe3f4cc-f765-11e4-9b8d-51174eaec968.png)
How does it work?
Well that' simple: I decided to share an audio file from Whatsap

[2015-05-11 06:02] MPadgett opened #217 "Hiding Current Path doesn't persist."
On opening Cabinet the current path is displayed in the toolbar regardless of the setting to hide it.

[2015-05-11 16:13] #217 closed

[2015-05-11 20:51] afollestad commented on #211
Currently, the reload process is taking quite a long time for SD card access (via DocumentFile on Lollipop).

I'm using a class I just pushed to the main repo (`LagTracker`), while internal storage listing only takes around 20ms, SD card listing takes around 800ms on average in the emulator.

![screen shot 2015-05-11 at 3 48 26 pm](https://cloud.githubusercontent.com/assets/1820165/7574766/664dd61

[2015-05-11 22:08] afollestad commented on #216
I should note that you're not really saving it to anything, the file is just being copied. It exists in two places afterwards which actually isn't a good way to 'save' things.

[2015-05-12 03:19] plusCubed commented on #211
Traceview and dmtracedump are also good tools for tracking down time taken for each method: http://developer.android.com/tools/debugging/debugging-tracing.html

[2015-05-12 15:47] afollestad commented on #211
I've never had too much luck with those but maybe I'll have to try them again

[2015-05-13 01:50] afollestad commented on #181
Closing in favor of https://github.com/afollestad/cabinet-issue-tracker/issues/209

[2015-05-13 01:50] #181 closed

[2015-05-13 01:58] afollestad commented on #195
I don't think this is necessary.

[2015-05-13 01:58] #195 closed

[2015-05-13 02:01] afollestad commented on #198
Can't get much better than it is now.

[2015-05-13 02:01] #198 closed

[2015-05-13 02:07] afollestad commented on #99
Closing this for now.

[2015-05-13 02:07] #99 closed

[2015-05-13 02:07] afollestad commented on #105
Closing this for now.

[2015-05-13 02:07] #105 closed

[2015-05-13 04:33] afollestad commented on #216
Done

[2015-05-13 04:35] #216 closed

[2015-05-13 04:38] afollestad opened #218 "Re-implement archive support again using Commons Compress"
The current library doesn't work as well as we need. ZIP support is currently broken too (while tar.gz support is still working).

The current library is also limited to local files, it would be preferred if we could load ZIP archives from input streams in order to optimize SD card and plugin framework archive support.

[2015-05-13 04:39] afollestad commented on #75
Closing in favor of https://github.com/afollestad/cabinet-issue-tracker/issues/210

[2015-05-13 04:39] #75 closed

[2015-05-13 04:59] afollestad commented on #218
http://commons.apache.org/proper/commons-compress/examples.html

[2015-05-13 21:01] afollestad commented on #218
Creating a cool library that will be used to make this all easier.

[2015-05-15 00:47] afollestad commented on #218
Done, SD card and plugin support will require some additional changes so that only streams are used rather than java.io.Files.

[2015-05-15 00:47] #218 closed

[2015-05-15 00:48] afollestad commented on #209
Streams will need to be used for reading/writing files.

[2015-05-15 00:48] afollestad opened #219 "If a folder is deleted that is listed in the bread crumbs, it needs to be trimmed"

[2015-05-15 02:33] #219 closed

[2015-05-15 21:38] afollestad commented on #194
Closing this as it seems fine for now

[2015-05-15 21:38] #194 closed

[2015-05-17 07:01] plusCubed commented on #215
Unnecessary after experimenting with it.

[2015-05-17 07:01] #215 closed

[2015-05-18 03:19] afollestad commented on #211
To complete:

1. `DocumentFile.getSingleUri` is necessary for getting non-root SD card folders, but they can't  be used to list files. Have to solve that issue still. E.g. nav drawer shortcuts need getSingleUri in order to get the right display name, otherwise they just return "sdcard" as the tree URI represents the root.

2. When creating tar.gz archives in an SD card folder, the duplicate checki

[2015-05-18 03:40] afollestad commented on #211
To complete:

1. `DocumentFile.getSingleUri` is necessary for getting non-root SD card folders, but they can't  be used to list files. Have to solve that issue still. E.g. nav drawer shortcuts need getSingleUri in order to get the right display name, otherwise they just return "sdcard" as the tree URI represents the root.

2. When creating tar.gz archives in an SD card folder, the duplicate checki

[2015-05-19 14:26] ravenegos opened #220 "Enable Write Access for Lollipop OS known SD card issue"
Please do address this. Other known file explorers have this though. Lokking forward  to this.

[2015-05-19 15:18] afollestad commented on #220
Duplicate.

[2015-05-19 15:18] #220 closed

[2015-05-19 23:21] afollestad commented on #211
To complete:

1. `DocumentFile.getSingleUri` is necessary for getting non-root SD card folders, but they can't  be used to list files. Have to solve that issue still. E.g. nav drawer shortcuts need getSingleUri in order to get the right display name, otherwise they just return "sdcard" as the tree URI represents the root.

2. SD card directory listing needs to be sped up a lot.

3. The audio playe

[2015-05-20 02:01] afollestad commented on #208
The latest commit includes a working SFTP plugin, not completely done yet.

[2015-05-20 04:18] afollestad commented on #208
TODO:

1. Cancel from authenticator, main activity needs to cancel reloading plugin fragment if intent contains cancelled action (to avoid infinite return to authenticator loop).
2. Initial path in SFTP, main activity needs to replace pin path with initial path (could do through the content provider if set to be exported).
3. The bread crumb layout isn't displaying the root folder when using the S

[2015-05-20 14:24] alexsmithfanning opened #221 "BUG?: Icon blurry"
I am using the Google Now Launcher which has all icons scaled to a slightly larger size. I don't think the icon is big enough to scale correctly, so it is slightly blurry. Its not a big deal, just something I noticed. I don't even know if its fixable or not.

[2015-05-20 16:03] afollestad commented on #221
Android icons are standardized in sizes. There's 4 different sizes for different screen sizes. I can't be an issue with the icon itself.

[2015-05-20 16:03] #221 closed

[2015-05-20 16:16] alexsmithfanning commented on #221
Is it because I have a 720p screen resolution with a Pixels Per Inch of 326? Because the Google Earth icon isn't like that. But the Google Hangouts is. It it a problem with scaling on my specific screen?

[2015-05-20 16:43] afollestad commented on #221
That's a possibility, yeah

On Wed, May 20, 2015, 11:16 AM alexsmithfanning <notifications@github.com>
wrote:

[2015-05-21 05:40] afollestad commented on #208
TODO:

1. The bread crumb layout isn't displaying the root folder when using the SFTP plugin (when two sub folders in, it's fine with 1 a first).
2. exists() currently always returns true which causes an infinite loop in checkDuplicates.
3. Use ParcelFileDescriptor to exchange streams between plugin and main app in order to stream and open files which may be remote.

[2015-05-21 14:19] alexsmithfanning opened #222 "BUG: Duplicated folder, cut shows directory as file initially"
When copying a folder into a directory that has a folder with the same name, the folders merge but it creates a new empty folder with "[folder name] (2)".

[2015-05-21 22:22] #222 closed

[2015-05-22 01:42] plusCubed commented on #210
Oh my, I just tried another root library, [RootFW4](https://github.com/SpazeDog/rootfw), and it is so much faster than libsuperuser (as in, executing and getting a result from `ls -l` is almost instantaneous, so we can probably use that method to list files 100% of the time).
I understand that libsuperuser is made by the same guy as SuperSU, so should we switch?

[2015-05-22 01:43] afollestad commented on #210
If you feel like the newer library would be better, go ahead! Sounds like it'll benefit us

[2015-05-22 14:56] goonta opened #223 "unable to delete files/folders from external SD card"
I'm having what appears to be the same issue as one reported back in February (Weird folder deletion issue #104) but was apparently unable to be verified and thus was closed. I can delete from my internal memory but when attempting to delete from my external SD card the app fails. When attempting to delete folders the app just hangs on "deleting..." but when attempting to delete files I get "Faile

[2015-05-22 16:02] afollestad commented on #223
Duplicate of many closed issues, and related to an open issue.

[2015-05-22 16:02] #223 closed

[2015-05-23 04:01] afollestad commented on #208
TODO:

1. exists() currently always returns true which causes an infinite loop in checkDuplicates. An efficient way to check for existence, especially with remote files, is needed. Currently, exists() is called on the UI thread in numerous places. checkDuplicates shouldn't be used in plugin directories, it should give a warning instead.
2. Auto upload file changes, e.g. text files, to the plugin s

[2015-05-23 18:48] afollestad opened #224 "When viewing a file that requires root access to edit, show a warning saying it's uneditable rather than a "no superuser" error"
@plusCubed this may be something you can do in the process of re-implementing root. Basically, the file wouldn't be editable, only viewable. `/etc/hosts` is a good file to test on.

[2015-05-24 03:25] afollestad opened #225 "Swipe to navigate between bread crumbs like new Dropbox"

[2015-05-24 23:58] alexsmithfanning opened #226 "FEATURE REQUEST: Smoother floating action button"
The FAB is (currently) quite laggy and not so smooth. How hard would it be to implement a smooth like animation like in Google Keep? Not really important, just something I noticed.

[2015-05-24 23:58] #226 closed

[2015-05-24 23:59] afollestad commented on #226
That's more of a minor hiccup than feature request.

There's no easy way to do it right now since we're using a popular third party library for the FAB. There's no issues on my Nexus 6 with stock Lollipop; it may be related to your device being lower end or having an older Android version.

[2015-05-25 00:04] alexsmithfanning commented on #226
I'm running KitKat (I will get the jump to 5.1 though). It is a very low end device, I did see a huge improvement in the last update though. Did you change something with the FAB in the last update?

[2015-05-25 00:05] afollestad commented on #226
Oh I see, hopefully Lollipop helps.

I haven't made any changes for quite a while.

[2015-05-25 00:09] alexsmithfanning commented on #226
As always, thank you for your very quick and very helpful information. Keep up the awesome work.

[2015-05-25 00:33] afollestad commented on #208
TODO:

1. Anywhere that uses `exists()` or `checkDuplicates` needs to do so off the UI thread.
2. Creating archives in plugin folders (need to be uploaded over output stream).
3. Details dialog for plugin files (including permissions).

[2015-05-25 04:07] afollestad commented on #208
TODO:

1. Creating archives in plugin folders (need to be uploaded over output stream).

[2015-05-25 04:22] afollestad commented on #210
@plusCubed I thought I should note:

The `File` class now has `chmod`, `chown`, and `getPermissions` methods. They're both currently un-implemented for `LocalFile`, `chmod` is currently used in the remodeled `DetailsDialog`.

[2015-05-25 04:27] plusCubed commented on #210
Oh OK, thanks for reminding me. I'll be merging the commits from master to the wd-40 branch soon, so I'll implement/integrate them then.

[2015-05-25 07:02] afollestad commented on #209
TODO:

1. Creating archives in plugin folders.
2. Extracting archives to plugin folders.
3. Copy/move files in between different provider types (e.g. local -> sd card, sd card -> plugin).

[2015-05-25 07:03] afollestad commented on #208
This is basically done, remaining issues are related to #209.

[2015-05-25 07:03] #208 closed

[2015-05-25 19:49] afollestad opened #227 "Ability to copy different file types between different providers (local, SD card, plugin folders)"

[2015-05-25 21:31] #227 closed

[2015-05-25 21:34] afollestad commented on #209
TODO:

1. Creating archives in plugin folders.
2. Extracting archives to plugin folders.
3. ChangeWatcher gets false positives, e.g. when opening a docx file in Google Docs?

[2015-05-26 00:13] afollestad commented on #209
TODO:

1. Viewing archives in plugin folders, currently it isn't downloading/reading streams correctly for remote archive files.
2. Extracting archives to/from plugin folders.
3. Uninstalling plugin from nav drawer while plugin folder is active doesn't navigate away from the folder.

[2015-05-26 05:57] afollestad commented on #209
TODO:

1. Viewing archives in plugin folders, currently it isn't downloading/reading streams correctly for remote archive files.
2. Extracting archives to/from plugin folders.

[2015-05-26 06:30] plusCubed commented on #210
@afollestad I think the wd-40 branch is in a good place to become the master branch now. Root access is mostly complete - if you turn off List Directory Count and go into a root directory it should list the files very quickly with all of the attributes of the files loaded as well.  There's a little problem with the List Directory option on that can cause things to be slow, but should be easy to fi

[2015-05-26 06:37] afollestad commented on #210
@plusCubed awesome, sounds good. Feel free to merge whenever you feel is a good time.

[2015-05-27 03:26] afollestad opened #228 "Issues with merged code"
@plusCubed

1: Root access is requested in non-root directories, including internal storage folders and even plugin folders that are listing files from remote plugin services. The directory fragment is blank for about 10 seconds while waiting for SU to respond.

2: The other issue is a crash that occurs when moving between bread crumbs (by tapping them). The FileInfo strings somehow become null. T

[2015-05-27 03:29] afollestad commented on #228
@plusCubed one more crash to add to that:

[code]

`fileInfo.directoryFileCount` is null at line 362 of `FileAdapter`.

[2015-05-27 03:30] afollestad commented on #228
@plusCubed one more crash to add to that:

[code]

`fileInfo.directoryFileCount` is null at line 362 of `FileAdapter`.

Currently, this is preventing Cabinet from starting. Not sure if it's specific to plugin folders yet.

[2015-05-27 03:31] afollestad commented on #228
Oh yeah, I can confirm it only happens with plugin folders. The new FileInfo stuff must not be compatible with plugin files?

[2015-05-27 03:37] afollestad commented on #228
@plusCubed since it only happens with plugin files, do you have a server to test with? Or do you need access to mine for testing?

[2015-05-27 03:37] plusCubed commented on #228
@afollestad Currently FileInfo is used by LocalFile to cache the results from `ls -l` and by the FileAdapter to cache the information provided by the `File` (any File) in the FileAdapter. There shouldn't be a problem, but I haven't tested plugins.

[2015-05-27 03:49] afollestad opened #229 "SFTP Plugin Authenticator should allow path selection with UI instead of manually typing it"
This can use the same thing we use to select extract locations for ZIP files.

It's just a simple ACTION_PICK intent, I believe.

[2015-05-27 05:49] afollestad commented on #228
Original comment updated. @plusCubed

[2015-05-28 12:48] fer866 opened #230 "OTG support"
Just a shortcut in the menu drawer when a pendriver is connected

[2015-05-28 13:01] afollestad commented on #230
Duplicate.

[2015-05-28 13:01] #230 closed

[2015-05-29 01:46] afollestad opened #231 "Visual issues on Android M"
![screenshot_20150528-204438](https://cloud.githubusercontent.com/assets/1820165/7874827/9c3f0ac2-057a-11e5-8e77-74f48920f72d.png)

[2015-05-29 01:48] afollestad commented on #231
Google has a new lib coming that will have official components such as a FAB.

[2015-05-29 01:49] plusCubed commented on #231
The design library has been released already. The FAB doesn't seem to support the popup menu we have right now though.

[2015-05-29 02:27] afollestad commented on #231
Hmm. We'll just have to find the reason the FAB gets pushed to the right in that case.

[2015-05-29 02:33] plusCubed opened #232 "Use new support design library's widgets"
https://developer.android.com/tools/support-library/index.html

`NavigationView`: navigation drawer
`FloatingActionButton`: Unfortunately doesn't have menu right now (I don't think), but we should keep an eye out for that.
`Snackbar`: Perhaps we can use this for error messages or just to replace the `Toast`s
`AppBarLayout`: Responds to scrolling (like how we already have implemented)

[2015-05-31 20:41] afollestad opened #233 "Tablet layout improvements to main screen and settings"

[2015-05-31 23:57] #233 closed

[2015-06-01 00:01] afollestad commented on #232
We can't use NavigationView, our nav drawer logic is far too complex to use MenuItems. Especially with the new plugin account management stuff: NavigationView can't expand items or handle long presses.

I'm working on `SnackBar` and `AppBarLayout` right now, though.

[2015-06-01 00:03] afollestad commented on #232
Something I might do is allow users to undo deletion rather than displaying a confirm dialog.

[2015-06-01 00:21] afollestad commented on #232
We can't use AppBarLayout either, it needs a specific layout structure that I don't think will work with our current setup.

[2015-06-01 01:32] afollestad commented on #231
Fixed with new FAB lib.

[2015-06-01 01:32] #231 closed

[2015-06-01 01:36] afollestad commented on #224
Not necessary, because we can't read the files in the first place without access.

[2015-06-01 01:36] #224 closed

[2015-06-01 02:39] #229 closed

[2015-06-01 02:48] afollestad commented on #232
SnackBar doesn't push the FAB up because we're not using the Design Lib FAB component. It's possible, but it requires custom `CoordinatorLayout.Behavior` to be defined.

So for now, we're not using anything from this lib in Cabinet.

[2015-06-01 02:48] #232 closed

[2015-06-01 21:37] flodt opened #234 "Dropbox support"

[2015-06-01 21:47] afollestad commented on #234
Haven't been keeping up with news about the plugin framework?

[2015-06-01 21:47] #234 closed

[2015-06-01 21:49] flodt commented on #234
Nope, haven't. Sounds promising.
Cheers
---
Florian Schmidt
flo@schmidt-allgaeu.de
On Jun 1, 2015 11:47 PM, Aidan Follestad <notifications@github.com> wrote:Haven't been keeping up with news about the plugin framework?

—Reply to this email directly or view it on GitHub.

[2015-06-02 02:13] flodt opened #235 "Connect to Windows file shares?"
When I try to connect to my Windows Vista file shares,

[2015-06-02 02:14] afollestad commented on #235
There's no support.

Someone can make a plugin for it when the plugin framework is done.

[2015-06-02 02:14] #235 closed

[2015-06-02 02:17] flodt commented on #235
Ok, that can wait. Sorry for that, I hit the wrong button...

[2015-06-03 00:35] alexwh opened #236 "Option to disable thumbnail generation"

[2015-06-03 01:14] afollestad commented on #236
You mean for pictures, videos, and APKs?

[2015-06-03 02:04] afollestad commented on #236
Done

[2015-06-03 02:04] #236 closed

[2015-06-03 02:21] afollestad commented on #228
@plusCubed in addition to the two issues mentioned above, it appears the FileInfo class messes up attributes for PluginFiles, like isDirectory and length.

[2015-06-03 05:35] afollestad commented on #209
Done

[2015-06-03 05:35] #209 closed

[2015-06-04 21:58] afollestad commented on #228
Fixed the issue related to isDirectory being wrong in `FileInfo`, it wasn't accounting for the fact that permissions seem to be null for directories returned by SFTP.

[2015-06-04 22:00] afollestad commented on #228
Fixed the issue related to isDirectory being wrong in `FileInfo`, it wasn't accounting for the fact that permissions seem to be null for directories returned by SFTP.

**EDIT**: nevermind there appears to be deeper issues.

[2015-06-04 22:32] afollestad opened #237 "Fix remote plugin archive viewing now that plugin URIs contain both the plugin package and account ID"

[2015-06-04 23:01] afollestad commented on #237
Done

[2015-06-04 23:01] #237 closed

[2015-06-04 23:05] afollestad commented on #228
I think these issues are gone now.

[2015-06-04 23:05] #228 closed

[2015-06-04 23:05] afollestad commented on #210
This is the last issue left before 1.9.6.0, other than finishing SD card support

[2015-06-04 23:05] afollestad commented on #210
@plusCubed This is the last issue left before 1.9.6.0, other than finishing SD card support

[2015-06-06 05:31] plusCubed commented on #210
The main functions should all be done. The only unimplemented method is chown, which I'll come back to later. The text editor root access is still broken though - I'll work on that.

[2015-06-07 04:48] afollestad commented on #210
Gonna push an update to the beta channel

[2015-06-07 07:23] alexsmithfanning opened #238 "BUG: FAB landscape mode issue"
When the FAB is expanded and the screen is tilted, the FAB un-expands and still the screen stays dark.

[2015-06-07 08:17] AndreasSchantl opened #239 "SFTP Plugin not listing all folders"
The plugin doesn't show me one specific folder starting with an '#' in the name.

[2015-06-07 08:19] AndreasSchantl opened #240 "SFTP plugin not connecting to server"
When I am trying to connect to my web server it will loop after I have pressed 'Test connection'. It won't show up any directories and will only show the load screen...

[2015-06-07 17:19] afollestad commented on #240
Loop? Like it never times out?

Keep in mind this is SFTP, not FTP.

[2015-06-07 17:22] afollestad commented on #238
Fixed

[2015-06-07 17:22] #238 closed

[2015-06-07 17:33] afollestad commented on #239
I don't think this is something I can really repair, even if I try to execute a command over SSH (mkdir #test), it gives me an error.

I don't think that's a valid character for folder names.

[2015-06-07 17:34] #239 closed

[2015-06-07 17:48] afollestad commented on #210
Others are experiencing the `FileInfo` crashes: https://fabric.io/aidan-follestads-projects/android/apps/com.afollestad.cabinet/issues/55740aecf505b5ccf00fe231

[2015-06-07 18:00] afollestad commented on #210
@plusCubed the above is actually pretty severe, the app crashes everytime I paste a file

[2015-06-07 22:56] alexsmithfanning opened #241 "Paste occasionally not working"
When something is copied and you try to paste it, the FAB will expand as if in its normal state.

[2015-06-07 23:02] alexsmithfanning commented on #241
And after something is pasted, the file size counts to zero until the directory is exited and entered again.

[2015-06-07 23:03] afollestad commented on #241
Yeah, I noticed this once too, still trying to get to the bottom of it

[2015-06-08 00:43] afollestad opened #242 "Root folders become unresponsive if accessed without superuser"
e.g. /data

[2015-06-08 02:02] afollestad commented on #240
I'm gonna assume this was an issue of trying to connect to a server that doesn't use SFTP or something.

[2015-06-08 02:02] #240 closed

[2015-06-08 02:20] afollestad commented on #242
@plusCubed this happens because `readUnavailableForOther()` returns true, thus causing the app to try to use superuser when listing files (even when su is not available).

[2015-06-08 02:39] afollestad opened #243 "New FileInfo stuff causes the wrong file length to be displayed when a local file is pasted"
The File that's inserted into the adapter is the file returned by `File#copyFile`

[2015-06-08 02:44] afollestad commented on #241
Oddly enough, I can't make this bug happen now that I'm trying

[2015-06-08 04:14] alexsmithfanning commented on #241
Try pasting into something with a lot of files in it, say forty or more. Then it should happen every time.

[2015-06-08 13:31] elfez opened #244 ".mkv files not recognised as video files"
If I try to open a .mkv file in Cabinet it seems to assume it is a generic (possibly text?) file and tries to open it in a text viewer.

Renaming an .mkv file to .avi and gets around this. Also, the same .mkv file is handled correctly in other file managers (for instance Ghost Commander). Using "open as" works as well.

[2015-06-08 16:38] MrJSeddon opened #245 "FAB: Small graphical issue"
When the animation of the fab bounces it gets slighty cut off by I assume a bottom padding of the list. if you need a recording or screenshot of this i can provide it.

thanks for your amazing work :D

[2015-06-10 03:12] Beta1440 opened #246 "List View Overflow Button Issue"
The overflow button for the topmost file or folder in a listview often cannot be pressed. All the others appear to work fine.

[2015-06-10 15:32] afollestad commented on #246
I'm guessing it's because you're try to press it before the fast scroller hides itself

[2015-06-10 15:32] afollestad commented on #246
If you're in the beta channel, not Google Play version, that is.

[2015-06-11 05:59] plusCubed commented on #242
Fixed.

[2015-06-11 05:59] #242 closed

[2015-06-11 06:14] plusCubed commented on #246
I've changed the fast scroller activation width to 24dp so it no longer covers the overflow button. This does violate the guidelines, but I think it should be fine.

[2015-06-11 06:14] #246 closed

[2015-06-11 06:30] plusCubed opened #247 "Grid mode (grid size > 1) prevents app bar from collapsing"

[2015-06-11 06:38] plusCubed commented on #241
Because the file attributes (cached in `FileInfo`) of a `LocalFile` comes from running `ls -l` in the directory of the file (which isn't done when just copying/adding a file), the file attributes are not initialized. To fix this, I added the `initFileInfo()` to `LocalFile` which runs `ls -l` just on one file to get its attributes.

[2015-06-11 06:55] plusCubed commented on #241
Woops, related but wrong issue.

[2015-06-11 06:55] plusCubed commented on #243
Because the file attributes (cached in `FileInfo`) of a `LocalFile` comes from running `ls -l` in the directory of the file (which isn't done when just copying/adding a file), the file attributes are not initialized. To fix this, I added the `initFileInfo()` to `LocalFile` which runs `ls -l` just on one file to get its attributes.

[2015-06-11 06:55] #243 closed

[2015-06-11 07:12] aravindclpy opened #248 "Can't delete or modify files in external storage (SD Card)"
I can't remove or modify files stored in external SD Card in my Sony Xperia Z Ultra running Android 5.0.2 (Rooted Stock ROM)

When I try to create a new file,  following error is displayed: open failed: EACCESS (Permission denied)

[2015-06-11 07:15] plusCubed commented on #210
@afollestad Can you try with the latest code? If a file's attributes are not readable, the `FileInfo` `readAvailable` boolean would be set to false and it wouldn't be compared in `equals()`, so if that crash happens it means somehow `readAvailable` is true when it shouldn't be.

[2015-06-11 11:05] plusCubed opened #249 "Switch to more updated vector drawable backport"
This: https://github.com/wnafee/vector-compat
Or AppCompat version whenever that arrives.

[2015-06-11 13:33] afollestad commented on #248
Duplicate and doesn't apply to current code.

[2015-06-11 13:33] #248 closed

[2015-06-11 21:32] afollestad commented on #210
@plusCubed it appears to be working with the latest code, the length displays correctly again too.

Although paste (and selection mode while copying/moving) feels kinda laggy now.

[2015-06-11 21:35] afollestad commented on #244
Let me know if this isn't fixed by the next update

[2015-06-11 21:35] #244 closed

[2015-06-12 09:59] plusCubed commented on #210
@afollestad Huh. We can open another issue for that if it persists. I've re-added root to the text editor and added a read only mode instead of displaying an error. I'll close this issue and open other issues as they arise.

[2015-06-12 09:59] #210 closed

[2015-06-12 14:10] afollestad commented on #245
Yeah a screenshot may help, I have no idea what you mean haha

[2015-06-12 14:11] afollestad commented on #241
I can't seem to reproduce this any longer, do you think you fixed it @plusCubed?

[2015-06-12 14:13] plusCubed commented on #241
@afollestad I didn't address anything about this in particular.

[2015-06-12 14:21] #249 closed

[2015-06-13 01:38] plusCubed opened #250 "Return to previous folder when folder isn't browsable"
e.g. opening /data/ without root displays the superuser error right now. Instead, we could display a snackbar/toast and return the user back to the previous folder (see Solid Explorer) since that's what they'd do next anyway.

[2015-06-13 19:10] afollestad opened #251 "Local ZIP file subfiles (ArchiveSubFile) try to get SU permissions for length"
![screenshot_20150613-091645](https://cloud.githubusercontent.com/assets/1820165/8145656/f13fc0f4-11d5-11e5-83b2-b3ef12450a87.png)

[2015-06-13 19:29] afollestad commented on #251
When I download a ZIP file from Drive, the parent folder isn't accessible and I can't extract the archive to an internal storage directory.

[2015-06-14 05:12] plusCubed commented on #251
@afollestad I fixed the first file size/directory count issue. Unfortunately I can't access Google Drive from my phone, so I have no idea if that's fixed. Is there another way to reproduce the second issue?

[2015-06-14 23:22] afollestad commented on #251
These two screenshots show the full path:

![screenshot_20150614-182017](https://cloud.githubusercontent.com/assets/1820165/8150910/1f56be2e-12c2-11e5-9438-fec7d208b692.png)
![screenshot_20150614-182024](https://cloud.githubusercontent.com/assets/1820165/8150912/23ca9d4a-12c2-11e5-8986-1017c98f95fd.png)

The "fileinternal" folder can't be accessed, although that seems odd if a ZIP file inside of t

[2015-06-14 23:22] afollestad commented on #251
It's also weird that the first folder is stuck with the highlighted tint without pressing or selecting anything

[2015-06-15 02:26] plusCubed opened #252 "Highlighted tint without selecting a file"
Occurs every once in a while.

[2015-06-15 02:27] plusCubed commented on #251
@afollestad I created #252 for the highlighted tint issue (I've seen it a couple of times as well). I'm going to try another method to reproduce the Drive issue.